<div class="np-modal">
    <div class="np-modal-header">
        Header
    </div>
    <div class="np-modal-body">
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
        <p>Modal content</p>
    </div>
    <div class="np-modal-footer">
        <div class="np-btn-group">
            <button class="np-btn np-btn-danger" (click)="closeModal2()">Close Modal</button>
        </div>
    </div>
</div>