<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Progress">
            np-ui-progress
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-progress-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>Default</legend>
    <np-ui-progress [value]="55"></np-ui-progress>
</fieldset>

<fieldset>
    <legend>Success + striped</legend>
    <np-ui-progress [value]="progressCount" [styleClass]="'np-pg-success'" [striped]="true"></np-ui-progress>
</fieldset>

<fieldset>
    <legend>Error + animated</legend>
    <np-ui-progress [value]="50" [styleClass]="'np-pg-danger'" [animated]="true" [showLable]="false"></np-ui-progress>
</fieldset>

<fieldset>
    <legend>Warning</legend>
    <np-ui-progress [value]="100" [styleClass]="'np-pg-warning'"></np-ui-progress>
</fieldset>

<fieldset>
    <legend>Info + indeterminate</legend>
    <np-ui-progress [indeterminate]="true" [styleClass]="'np-pg-info'"></np-ui-progress>
</fieldset>