<fieldset>
    <a np-ui-popover [header]="'This is link A'" [body]="'Description of Link A.'">Link A</a>
</fieldset>

<fieldset>
    <a np-ui-popover [header]="'This is link B'" [body]="'Description of Link B.'" [placement]="'right'" [showOnClick]="true">Link B</a>
</fieldset>

<fieldset>
    <a np-ui-popover [header]="headerC" [body]="bodyC" [showOnClick]="true" [width]="100" [styleClass]="'myClass'">Link
        C</a>
    <ng-template #headerC>
        This is link C
    </ng-template>
    <ng-template #bodyC>
        Description of Link C.
    </ng-template>
</fieldset>

<fieldset>
    <a np-ui-popover #myPopoverD="NpUiPopoverDirective" [header]="'This is link D'" [body]="myPopoverDBody" [showOnClick]="true">Link D</a>
    <ng-template #myPopoverDBody>
        Description of Link D.
        <button type="button" class="np-btn" (click)="showE()">Next</button>
    </ng-template>
    <br>
    <a np-ui-popover #myPopoverE="NpUiPopoverDirective" [header]="'This is link E'" [body]="myPopoverEBody" [showOnClick]="true">Link E</a>
    <ng-template #myPopoverEBody>
        Description of Link E.
        <button *ngIf="showNext" type="button" class="np-btn" (click)="showF()">Next</button>
    </ng-template>
    <br>
    <a np-ui-popover #myPopoverF="NpUiPopoverDirective" [header]="'This is link F'" [body]="myPopoverFBody" [showOnClick]="true">Link F</a>
    <ng-template #myPopoverFBody>
        Description of Link F.
        <button type="button" class="np-btn" (click)="closeF()">Close</button>
    </ng-template>
</fieldset>