<div class="sub-header">
    Dropdown
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <b>Module to import</b>
            <div>
                <pre><code [innerText]="importText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <b>HTML</b>
            <div>
                <pre><code [innerText]="htmlText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>ngModel</td>
                    <td>Value</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>items</td>
                    <td>Array of data</td>
                    <td>any[]</td>
                    <td></td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td>Set disabled.</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>readonly</td>
                    <td>Set readonly.</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>required</td>
                    <td>Set required.</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>displayKey</td>
                    <td>If <b>items</b> is type of any[], then set property name which needs to display in dropdown.
                    </td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>itemTemplate</td>
                    <td>Set template for item. Use var let-item="item" in template to access item.
                        <pre><code>{{templateText}}</code></pre>
                    </td>
                    <td>TemplateRef&lt;any&gt;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>placeholder</td>
                    <td>Set placeholder.</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>styleClass</td>
                    <td>Set extra class on component</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>inputId</td>
                    <td>Set id attribute.</td>
                    <td>string</td>
                    <td></td>
                </tr>
            </table>
        </np-card>

        <np-card>
            <table class="np-table">
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>
                        onChange(v: any)
                    </td>
                    <td>
                        Callback event on value change.
                    </td>
                    <td>value</td>
                </tr>
            </table>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <legend>Basic dropdown with string items</legend>
            <np-dropdown [(ngModel)]="dropdownVal1" [items]="data"></np-dropdown>
            <div>Selected value: {{dropdownVal1}}</div>
            <button class="np-btn" (click)="changeValue()">Change value</button>
        </fieldset>

        <fieldset>
            <legend>Basic dropdown with custom type items</legend>
            <np-dropdown [(ngModel)]="dropdownVal2" [items]="dataFull" [displayKey]="'name'"></np-dropdown>
            <div>Selected value: {{dropdownVal2 | json}}</div>
        </fieldset>

        <fieldset>
            <legend>required</legend>
            <np-dropdown [(ngModel)]="dropdownVal3" [items]="data" [required]="true" [placeholder]="'Select from dropdown'">
            </np-dropdown>
        </fieldset>

        <fieldset>
            <legend>disabled</legend>
            <np-dropdown [(ngModel)]="dropdownVal4" [items]="data" [disabled]="true"></np-dropdown>
        </fieldset>

        <fieldset>
            <legend>Item template</legend>
            <np-dropdown [(ngModel)]="dropdownVal5" [items]="dataFull" [displayKey]="'name'" [itemTemplate]="itemTemplate">
            </np-dropdown>
            <ng-template #itemTemplate let-item="item">
                <div>{{item.name}} ( {{item.vitamin}} )</div>
            </ng-template>
            <div>Selected value: {{dropdownVal5 | json}}</div>
        </fieldset>

        <fieldset>
            <legend>On Change event</legend>
            <np-dropdown [(ngModel)]="dropdownVal6" [items]="data" (onChange)="onChange($event)"></np-dropdown>
        </fieldset>

        <fieldset>
            <legend>Style class</legend>
            <np-dropdown [(ngModel)]="dropdownVal7" [items]="data" [styleClass]="'myClass'"></np-dropdown>
        </fieldset>
    </np-tab>
</np-tabs>