<div class="sub-header">
    Dropdown
</div>

<fieldset>
    <legend>Basic dropdown with string items</legend>
    <np-dropdown [(ngModel)]="dropdownVal1" [items]="data"></np-dropdown>
    <div>Selected value: {{dropdownVal1}}</div>
    <button class="np-btn" (click)="changeValue()">Change value</button>
</fieldset>

<fieldset>
    <legend>Basic dropdown with custom type items</legend>
    <np-dropdown [(ngModel)]="dropdownVal2" [items]="dataFull" [displayKey]="'name'"></np-dropdown>
    <div>Selected value: {{dropdownVal2 | json}}</div>
</fieldset>

<fieldset>
    <legend>required</legend>
    <np-dropdown [(ngModel)]="dropdownVal3" [items]="data" [required]="true" [placeholder]="'Select from dropdown'">
    </np-dropdown>
</fieldset>

<fieldset>
    <legend>disabled</legend>
    <np-dropdown [(ngModel)]="dropdownVal4" [items]="data" [disabled]="true"></np-dropdown>
</fieldset>

<fieldset>
    <legend>Item template</legend>
    <np-dropdown [(ngModel)]="dropdownVal5" [items]="dataFull" [displayKey]="'name'" [itemTemplate]="itemTemplate">
    </np-dropdown>
    <ng-template #itemTemplate let-item="item">
        <div>{{item.name}} ( {{item.vitamin}} )</div>
    </ng-template>
    <div>Selected value: {{dropdownVal5 | json}}</div>
</fieldset>

<fieldset>
    <legend>On Change event</legend>
    <np-dropdown [(ngModel)]="dropdownVal6" [items]="data" (onChange)="onChange($event)"></np-dropdown>
</fieldset>

<fieldset>
    <legend>Style class</legend>
    <np-dropdown [(ngModel)]="dropdownVal7" [items]="data" [styleClass]="'myClass'"></np-dropdown>
</fieldset>