<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Notification">
            np-notification
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-notification-demo">
            Demo
        </a>
    </h2>
</div>

<np-notification></np-notification>

<fieldset>
    <legend>Basic notifications</legend>
    <div class="np-btn-group">
        <button class="np-btn np-btn-success" (click)="success()">Success</button>
        <button class="np-btn np-btn-danger" (click)="error()">Error</button>
        <button class="np-btn np-btn-warning" (click)="warning()">Warning</button>
        <button class="np-btn np-btn-info" (click)="info()">Info</button>
    </div>
</fieldset>

<fieldset>
    <legend>Notifications with header</legend>
    <div class="np-btn-group">
        <button class="np-btn np-btn-success" (click)="successWithHeader()">Notification With Header</button>
    </div>
</fieldset>

<fieldset>
    <legend>Notifications with HTML text</legend>
    <div class="np-btn-group">
        <button class="np-btn np-btn-danger" (click)="errorWithHTML()">Notification With HTML text</button>
    </div>
</fieldset>

<fieldset>
    <legend>Remove all Api</legend>
    <div class="np-btn-group">
        <button class="np-btn np-btn-danger" (click)="removeAll()">Remove All</button>
    </div>
</fieldset>