<h2>
    <a class="github-link" title="Go to github repository" target="_blank"
        href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-data-grid-demo/server-grid">
        Server side simple data grid example.
    </a>
</h2>
<p>To add server side oprations in data grid, set <b>isServerOperations</b> to "true" in grid defination.</p>
<p>And also add method <b>onLoadData(options:LoadOptions)</b>. This method will be invoked every time to fetch data.
</p>
<p><b>LoadOptions</b> has below properties:</p>
<ul>
    <li><b>pageNumber</b></li>
    <li><b>pageSize</b></li>
    <li><b>sortColumns</b> (This will contains array of all sort columns as <q>{{ '{' }} column : string, sortDirection:
            string {{'}'}}</q>)</li>
    <li><b>filterColumns</b> (This will contains array of all filter columns as <q>{{ '{' }} column : string,
            filterOperator: string, filterValue: string, dataType: string {{'}'}}</q>)</li>
    <li><b>odataQuery</b> (If <b>isODataOperations</b> is set to "true", then oDataQuery will be passed here.)</li>
    <li><b>isAllPages</b> (This will be used for server side export to CSV functionality, default value is "false")</li>
</ul>
<p>Possible values for <b>sortDirection</b> are asc, desc.</p>
<p>Possible values for <b>filterOperator</b> are startswith, endswith, contains, gt, lt, ge, le, eq, ne.</p>
<p>Possible values for <b>dataType</b> are number, string, date, boolean.</p>

<p>pass data to dataSource with "next()" method of <b>dataSource</b> as below</p>
<ul>
    <li><b>data</b> (Array of data based on loadOptioins, which is retrived from server side API)</li>
    <li><b>total</b> (Pass total count of records which is get from server side API)</li>
    <li><b>summary</b> (Pass summary data object if showSummary is set to "true")</li>
    <li><b>isAllPages</b> (If isAllPages set to "true" in loadOptions, then set this "true", else "false".)</li>
</ul>

<p>options:<code>{{currentLoadOptions | json}}</code></p>
<np-ui-data-grid [columns]="gridColumns" [dataSource]="gridDataSource" [isServerOperations]="true"
    (onLoadData)="onLoadData($event)">
</np-ui-data-grid>