<h2> Cell template example</h2>
<p>To add cell template in data grid add <b>&lt;ng-template&gt;</b> in html file and get that template as
    <b>TemplateRef&lt;any&gt; in component</b></p>
<p>Now set that template reference in <b>cellTemplate</b> property in column definations</p>

<b>In HTML file:</b>
<div class="np-jumbotron">
    <pre><code>{{htmlText}}</code></pre>
</div>

<b>In Component file:</b>
<div class="np-jumbotron">
    <pre><code>{{templateText}}</code></pre>
</div>

<b>In Column defination:</b>
<div class="np-jumbotron">
    <pre><code>{{columnText}}</code></pre>
</div>
<np-data-grid [columns]="gridColumns" [dataSource]="gridDataSource">
</np-data-grid>

<!-- Template for action buttons column -->
<ng-template #actionButtonsTemplate let-row="row">
    <div class="np-btn-group">
        <button class="np-btn" (click)="onActionClick(row,'Edit', $event)">Edit</button>
        <button class="np-btn" (click)="onActionClick(row,'Delete', $event)">Delete</button>
    </div>
</ng-template>

<!-- Template for birthdate column -->
<ng-template #birthDateColumnTemplate let-row="row">
    {{row.BirthDate | date:'dd/MM/yyyy'}}
</ng-template>

<!-- Template for active column -->
<ng-template #activeColumnTemplate let-row="row">
    <np-switch [(ngModel)]="row.Active" trueLabelText="Yes" falseLabelText="No" [readOnly]="true"></np-switch>
</ng-template>

<!-- Template for avatar column -->
<ng-template #avatarColumnTemplate let-row="row">
    <img src="../../assets/images/img_avatar.png" class="np-avatar">
</ng-template>