<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank"
            href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-auto-complete-demo">
            np-ui-auto-complete
        </a>
    </h2>
</div>

<fieldset>
    <legend>1. Default auto complete</legend>
    <np-ui-auto-complete [(ngModel)]="auto1" [searchResult]="searchResult1" (onSearch)="onSearch1($event)">
    </np-ui-auto-complete>
    <div>Selected value : {{auto1}}</div>
</fieldset>

<fieldset>
    <legend>2. Disabled</legend>
    <np-ui-auto-complete [(ngModel)]="auto2" [searchResult]="searchResult2" (onSearch)="onSearch2($event)" disabled>
    </np-ui-auto-complete>
</fieldset>

<fieldset>
    <legend>3. Required</legend>
    <form #form="ngForm">
        <np-ui-auto-complete name="nameautosearch" #validations="ngModel" [(ngModel)]="auto3"
            [searchResult]="searchResult3" (onSearch)="onSearch3($event)" required>
        </np-ui-auto-complete>
        <div *ngIf="validations.control.touched && validations.control.errors?.required" class="color-red">
            Name is required.
        </div>
        <div>Selected value : {{auto3}}</div>
        <div>Form valid: {{ form.valid }}</div>
    </form>
</fieldset>

<fieldset>
    <legend>4. Bind change event</legend>
    <np-ui-auto-complete [(ngModel)]="auto4" [searchResult]="searchResult4" (onSearch)="onSearch4($event)" (onChange)="onChnage4($event)">
    </np-ui-auto-complete>
</fieldset>

<fieldset>
    <legend>5. Style class</legend>
    <np-ui-auto-complete [(ngModel)]="auto5" [searchResult]="searchResult5" [styleClass]="'myClass'" (onSearch)="onSearch5($event)">
    </np-ui-auto-complete>
</fieldset>