<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank"
            href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-auto-complete-demo">
            np-ui-auto-complete
        </a>
    </h2>
</div>

<fieldset>
    <legend>1. Default auto complete</legend>
    <np-ui-auto-complete [(ngModel)]="auto1" [searchResult]="searchResult1" (onSearch)="onSearch1($event)">
    </np-ui-auto-complete>
    <div>Selected value : {{auto1}}</div>
</fieldset>

<fieldset>
    <legend>2. Disabled</legend>
    <np-ui-auto-complete [(ngModel)]="auto2" [searchResult]="searchResult2" (onSearch)="onSearch2($event)" disabled>
    </np-ui-auto-complete>
</fieldset>

<fieldset>
    <legend>3. Required</legend>
    <form #form="ngForm">
        <np-ui-auto-complete name="nameautosearch" #validations="ngModel" [(ngModel)]="auto3"
            [searchResult]="searchResult3" (onSearch)="onSearch3($event)" required>
        </np-ui-auto-complete>
        <div *ngIf="validations.control.touched && validations.control.errors?.required" class="color-red">
            Name is required.
        </div>
        <div>Selected value : {{auto3}}</div>
        <div>Form valid: {{ form.valid }}</div>
    </form>
</fieldset>

<fieldset>
    <legend>4. Bind change event</legend>
    <np-ui-auto-complete [(ngModel)]="auto4" [searchResult]="searchResult4" (onSearch)="onSearch4($event)"
        (onChange)="onChnage4($event)">
    </np-ui-auto-complete>
</fieldset>

<fieldset>
    <legend>5. Style class</legend>
    <np-ui-auto-complete [(ngModel)]="auto5" [searchResult]="searchResult5" [styleClass]="'myClass'"
        (onSearch)="onSearch5($event)">
    </np-ui-auto-complete>
</fieldset>

<fieldset>
    <legend>6. Allow to create new tag</legend>
    <np-ui-auto-complete [(ngModel)]="auto6" [searchResult]="searchResult6" [allowCreateNew]="true"
        (onSearch)="onSearch6($event)">
    </np-ui-auto-complete>
    <div>Selected value : {{auto6}}</div>
</fieldset>

<fieldset>
    <legend>7. Display key for any[]</legend>
    <np-ui-auto-complete [(ngModel)]="auto7" [searchResult]="searchResult7" [allowCreateNew]="true"
        (onSearch)="onSearch7($event)" [displayKey]="'name'">
    </np-ui-auto-complete>
    <div>Selected value : {{auto7 | json}}</div>
</fieldset>

<fieldset>
    <legend>8. Option template</legend>
    <np-ui-auto-complete [(ngModel)]="auto8" [searchResult]="searchResult8" [allowCreateNew]="true"
        (onSearch)="onSearch8($event)" [displayKey]="'name'" [optionTemplate]="optionTemplateRef">
    </np-ui-auto-complete>
    <!-- Template for active column -->
    <ng-template #optionTemplateRef let-row="row">
        <div>{{row.id}} - {{row.name}} ({{row.age}})</div>
    </ng-template>
    <div>Selected value : {{auto8 | json}}</div>
</fieldset>

<fieldset>
    <legend>9. Max search result limit</legend>
    <np-ui-auto-complete [(ngModel)]="auto9" [searchResult]="searchResult9" (onSearch)="onSearch9($event)"
        [displayKey]="'name'" [maxResultLimit]="2">
    </np-ui-auto-complete>
</fieldset>