<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-color-picker-demo">
            np-ui-color-picker
        </a>
    </h2>
</div>

<div>
    <fieldset>
        <legend>1. Default color picker</legend>
        <np-ui-color-picker [(ngModel)]="color1"></np-ui-color-picker>
        <div>Selected color code: {{color1}}</div>
        <button type="button" class="np-btn" (click)="color1 = '#ed5a0f'">Set color #ed5a0f</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>2. Disabled</legend>
        <np-ui-color-picker [(ngModel)]="color2" disabled></np-ui-color-picker>
    </fieldset>
</div>

<div>
    <form #form="ngForm">
        <fieldset>
            <legend>3. Required Validation in color picker</legend>
            <np-ui-color-picker [(ngModel)]="color3" required #validations="ngModel" name="colorPicker3">
            </np-ui-color-picker>
            <div *ngIf="validations.control.touched && validations.control.errors?.required" class="color-red">
                Color is required.
            </div>
            <div>Form valid: {{ form.valid }}</div>
            <div>Selected color code: {{ color3 }}</div>
        </fieldset>
    </form>
</div>

<div>
    <fieldset>
        <legend>4. Default open color picker</legend>
        <np-ui-color-picker [(ngModel)]="color4" [defaultOpen]="true" #validations4="ngModel" [disabled]="color4Disabled" [required]="color4Required">
        </np-ui-color-picker>
        <div *ngIf="validations4.control.touched && validations4.control.errors?.required" class="color-red">
            Color is required.
        </div>
        <button type="button" class="np-btn" (click)="color4Disabled = !color4Disabled">Toggle Disable</button>
        <button type="button" class="np-btn" (click)="color4Required = !color4Required">Toggle Required</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>5. Pre-defined color list in color picker</legend>
        <np-ui-color-picker [(ngModel)]="color5" [colors]="existingColors5">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>6. Add placeholder</legend>
        <np-ui-color-picker [(ngModel)]="color6" [placeholder]="'Select font color'">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>7. Hide color input control</legend>
        <np-ui-color-picker [(ngModel)]="color7" [hideColorInput]="true">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>8. Bind change event</legend>
        <np-ui-color-picker [(ngModel)]="color8" (onChange)="onChangeColor($event)">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>9. Style class</legend>
        <np-ui-color-picker [(ngModel)]="color9" [styleClass]="'myClass'">
        </np-ui-color-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>10. Without custom color list</legend>
        <np-ui-color-picker [(ngModel)]="color10" [colors]="null">
        </np-ui-color-picker>
    </fieldset>
</div>