<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Number%20Box">
            np-number-box
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-number-box-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>Number box</legend>
    <np-number-box [(ngModel)]="number1"></np-number-box>
    <button class="np-btn" (click)="setNumber1()">Set 100</button> value: {{number1}}
</fieldset>

<fieldset>
    <legend>Number box with steps</legend>
    <np-number-box [(ngModel)]="number2" [steps]="5"></np-number-box>
</fieldset>

<fieldset>
    <legend>Number box with min as 0 & max as 100</legend>
    <np-number-box [(ngModel)]="number3" [steps]="5" [min]="0" [max]="100" #number3Control="ngModel"></np-number-box>
    <div class="np-text-danger" *ngIf="number3Control.errors && number3Control.errors.min">
        Less then min value.
    </div>
    <div class="np-text-danger" *ngIf="number3Control.errors && number3Control.errors.max">
        More then max value.
    </div>
    <button class="np-btn" (click)="setNumber3()">Set 101</button>
</fieldset>

<fieldset>
    <legend>required</legend>
    <np-number-box [(ngModel)]="number4" required></np-number-box>
</fieldset>

<fieldset>
    <legend>disabled</legend>
    <np-number-box [(ngModel)]="number5" disabled></np-number-box>
</fieldset>

<fieldset>
    <legend>Format ###.##</legend>
    <np-number-box [(ngModel)]="number6" [format]="'###.##'" [placeholder]="'###.##'" #number6Control="ngModel">
    </np-number-box>
    <div class="np-text-danger" *ngIf="number6Control.errors && number6Control.errors.format">
        Invalid format.
    </div>
    value: {{number6}}
</fieldset>

<fieldset>
    <legend>onChange</legend>
    <np-number-box [(ngModel)]="number7" (onChange)="onChangeNumber7($event)"></np-number-box>
</fieldset>

<fieldset>
    <legend>Set showControls to false</legend>
    <np-number-box [(ngModel)]="number8" [showControls]=false></np-number-box>
</fieldset>