<div class="sub-header">
    Popover
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <b>Module to import</b>
            <div>
                <pre><code [innerText]="importText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <b>HTML</b>
            <div>
                <pre><code [innerText]="htmlText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>header</td>
                    <td>Header text or template</td>
                    <td>string | TemplateRef &lt;any&gt; </td>
                    <td></td>
                </tr>
                <tr>
                    <td>body</td>
                    <td>Body text or template</td>
                    <td>string | TemplateRef &lt;any&gt; </td>
                    <td></td>
                </tr>
                <tr>
                    <td>showOnClick</td>
                    <td>Show popover on click of link or not</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>width</td>
                    <td>Width in px</td>
                    <td>number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>styleClass</td>
                    <td>Set extra class on component</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>inputId</td>
                    <td>Set id attribute</td>
                    <td>string</td>
                    <td></td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Api</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>
                        show()
                    </td>
                    <td>
                        Show popover
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        close()
                    </td>
                    <td>
                        Close popover
                    </td>
                    <td></td>
                </tr>
            </table>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <a np-popover [header]="'This is link A'" [body]="'Description of Link A.'">Link A : Popup on hover</a>
        </fieldset>

        <fieldset>
            <a np-popover [header]="'This is link B'" [body]="'Description of Link B.'" [placement]="'right'" [showOnClick]="true">Link B : Popup on click</a>
        </fieldset>

        <fieldset>
            <a np-popover [header]="headerC" [body]="bodyC" [showOnClick]="true" [width]="250" [styleClass]="'myClass'">Link
                C : With [width] and [styleClass] attribute</a>
            <ng-template #headerC>
                This is link C
            </ng-template>
            <ng-template #bodyC>
                Description of Link C.
            </ng-template>
        </fieldset>

        <fieldset>
            <a np-popover #myPopoverD="NpPopoverDirective" [header]="'Step 1'" [body]="myPopoverDBody" [showOnClick]="true">Step 1</a>
            <ng-template #myPopoverDBody>
                Description of Step 1. Click on Next button to start tour.
                <button type="button" class="np-btn" (click)="showE()">Next</button>
            </ng-template>
            <br>
            <a np-popover #myPopoverE="NpPopoverDirective" [header]="'Step 2'" [body]="myPopoverEBody" [showOnClick]="true">Step 2</a>
            <ng-template #myPopoverEBody>
                Description of Step 2. Read and Wait for Next button.
                <button *ngIf="showNext" type="button" class="np-btn" (click)="showF()">Next</button>
            </ng-template>
            <br>
            <a np-popover #myPopoverF="NpPopoverDirective" [header]="'Step 3'" [body]="myPopoverFBody" [showOnClick]="true">Step 3</a>
            <ng-template #myPopoverFBody>
                Description of Step 3. Click on Close button to end tour.
                <button type="button" class="np-btn" (click)="closeF()">Close</button>
            </ng-template>
        </fieldset>
    </np-tab>
</np-tabs>