<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Popover">
            np-popover
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-popover-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <a np-popover [header]="'This is link A'" [body]="'Description of Link A.'">Link A : Popup on hover</a>
</fieldset>

<fieldset>
    <a np-popover [header]="'This is link B'" [body]="'Description of Link B.'" [placement]="'right'" [showOnClick]="true">Link B : Popup on click</a>
</fieldset>

<fieldset>
    <a np-popover [header]="headerC" [body]="bodyC" [showOnClick]="true" [width]="100" [styleClass]="'myClass'">Link
        C : With [width] and [styleClass] attribute</a>
    <ng-template #headerC>
        This is link C
    </ng-template>
    <ng-template #bodyC>
        Description of Link C.
    </ng-template>
</fieldset>

<fieldset>
    <a np-popover #myPopoverD="NpPopoverDirective" [header]="'Step 1'" [body]="myPopoverDBody" [showOnClick]="true">Step 1</a>
    <ng-template #myPopoverDBody>
        Description of Step 1. Click on Next button to start tour.
        <button type="button" class="np-btn" (click)="showE()">Next</button>
    </ng-template>
    <br>
    <a np-popover #myPopoverE="NpPopoverDirective" [header]="'Step 2'" [body]="myPopoverEBody" [showOnClick]="true">Step 2</a>
    <ng-template #myPopoverEBody>
        Description of Step 2. Read and Wait for Next button.
        <button *ngIf="showNext" type="button" class="np-btn" (click)="showF()">Next</button>
    </ng-template>
    <br>
    <a np-popover #myPopoverF="NpPopoverDirective" [header]="'Step 3'" [body]="myPopoverFBody" [showOnClick]="true">Step 3</a>
    <ng-template #myPopoverFBody>
        Description of Step 3. Click on Close button to end tour.
        <button type="button" class="np-btn" (click)="closeF()">Close</button>
    </ng-template>
</fieldset>