<h2> Grid Layout</h2>

<np-card>
    <np-card-body>
        <b>Use .np-container np-demo-container , .np-row and .np-col classes to utilize grid layout</b>
        <div class="np-container np-demo-container ">
            <div class="np-row">
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
                <div class="np-col np-col-1">np-col-1</div>
            </div>
            <div class="np-row">
                <div class="np-col np-col-3">np-col-3</div>
                <div class="np-col np-col-3">np-col-3</div>
                <div class="np-col np-col-3">np-col-3</div>
                <div class="np-col np-col-3">np-col-3</div>
            </div>
            <div class="np-row">
                <div class="np-col np-col-4">np-col-4</div>
                <div class="np-col np-col-4">np-col-4</div>
                <div class="np-col np-col-4">np-col-4</div>
            </div>
            <div class="np-row">
                <div class="np-col np-col-6">np-col-6</div>
                <div class="np-col np-col-6">np-col-6</div>
            </div>
        </div>
    </np-card-body>
</np-card>

<np-card>
    <np-card-body>
        <h3>For devices</h3>
        <div>.np-sm-col-* for small devices. </div>
        <div>.np-md-col-* for medium devices. </div>
        <div>.np-lg-col-* for large devices. </div>
        <div>.np-xl-col-* for extra large devices</div>
        <div class="np-container np-demo-container ">
            <div class="np-row">
                <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">np-col-sm-6 np-col-md-4 np-col-lg-3
                    np-col-xl-2
                </div>
                <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">np-col-sm-6 np-col-md-4 np-col-lg-3
                    np-col-xl-2
                </div>
                <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">np-col-sm-6 np-col-md-4 np-col-lg-3
                    np-col-xl-2
                </div>
                <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">np-col-sm-6 np-col-md-4 np-col-lg-3
                    np-col-xl-2
                </div>
                <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">np-col-sm-6 np-col-md-4 np-col-lg-3
                    np-col-xl-2
                </div>
                <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">np-col-sm-6 np-col-md-4 np-col-lg-3
                    np-col-xl-2
                </div>
            </div>
        </div>
    </np-card-body>
</np-card>

<np-card>
    <np-card-body>
        <h3>Offset</h3>
        <div>.np-offset-*, .np-offset-sm-*, .np-offset-md-*, .np-offset-lg-*, .np-offset-xl-* </div>
        <div class="np-container np-demo-container ">
            <div class="np-row">
                <div class="np-col np-col-3 np-offset-3">np-col-3 np-offset-3</div>
                <div class="np-col np-col-3">np-col-3</div>
                <div class="np-col np-col-3">np-col-3</div>
            </div>
        </div>
    </np-card-body>
</np-card>

<np-card>
    <np-card-body>
        <h3>Alignment</h3>
        <b>Also classes available like below</b>
        <div>.align-items-*</div>
        <div>Where * can be start,end,center,baseline,stretch</div>
        <div>.align-content-*</div>
        <div>Where * can be start,end,center,baseline,stretch</div>
        <div>.align-self-*</div>
        <div>Where * can be start,end,center,baseline,stretch</div>
        <div>.justify-content-*</div>
        <div>Where * can be start,end,center,between,around</div>
    </np-card-body>
</np-card>

<np-card>
    <np-card-body>
        <h3>Hidden</h3>
        <div>np-hidden, np-hidden-sm, np-hidden-md, np-hidden-lg, np-hidden-xl classes are available to hide elements
        </div>
        <div class="np-container np-demo-container ">
            <div class="np-row">
                <div class="np-col np-col-3 np-hidden-sm">np-hidden-sm</div>
                <div class="np-col np-col-3 np-hidden-md">np-hidden-md</div>
                <div class="np-col np-col-3 np-hidden-lg">np-hidden-lg</div>
                <div class="np-col np-col-3 np-hidden-xl">np-hidden-xl</div>
            </div>
        </div>
    </np-card-body>
</np-card>