<h2 class="page-header">Grid Layout</h2>

<np-card>
  <np-card-body>
    <div>
      Use classes <b>np-container, np-row, np-col</b> to set grid layout.
    </div>
    <br />
    <div class="np-container np-demo-container">
      <div class="np-row">
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
        <div class="np-col np-col-1">np-col-1</div>
      </div>
      <div class="np-row">
        <div class="np-col np-col-3">np-col-3</div>
        <div class="np-col np-col-3">np-col-3</div>
        <div class="np-col np-col-3">np-col-3</div>
        <div class="np-col np-col-3">np-col-3</div>
      </div>
      <div class="np-row">
        <div class="np-col np-col-4">np-col-4</div>
        <div class="np-col np-col-4">np-col-4</div>
        <div class="np-col np-col-4">np-col-4</div>
      </div>
      <div class="np-row">
        <div class="np-col np-col-6">np-col-6</div>
        <div class="np-col np-col-6">np-col-6</div>
      </div>
    </div>
  </np-card-body>
</np-card>

<np-card>
  <np-card-body>
    <h3>For devices</h3>
    <br />
    <div>Use below classes to set layout based on devices.</div>
    <br />
    <div><b>np-sm-col-*</b> for small devices.</div>
    <div><b>np-md-col-*</b> for medium devices.</div>
    <div><b>np-lg-col-*</b> for large devices.</div>
    <div><b>np-xl-col-*</b> for extra large devices</div>
    <div>Where * can be number from 1 to 12.</div>
    <br />
    <div class="np-container np-demo-container">
      <div class="np-row">
        <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">
          np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2
        </div>
        <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">
          np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2
        </div>
        <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">
          np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2
        </div>
        <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">
          np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2
        </div>
        <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">
          np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2
        </div>
        <div class="np-col np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2">
          np-col-sm-6 np-col-md-4 np-col-lg-3 np-col-xl-2
        </div>
      </div>
    </div>
  </np-card-body>
</np-card>

<np-card>
  <np-card-body>
    <h3>Offset</h3>
    <br />
    <div>
      Use classes
      <b
        >np-offset-*, np-offset-sm-*, np-offset-md-*, np-offset-lg-*,
        np-offset-xl-*</b
      >
      to set offset.
    </div>
    <div>Where * can be number from 1 to 12.</div>
    <br />
    <div class="np-container np-demo-container">
      <div class="np-row">
        <div class="np-col np-col-3 np-offset-3">np-col-3 np-offset-3</div>
        <div class="np-col np-col-3">np-col-3</div>
        <div class="np-col np-col-3">np-col-3</div>
      </div>
    </div>
  </np-card-body>
</np-card>

<np-card>
  <np-card-body>
    <h3>Alignment</h3>
    <br />
    <div>Use below classes to set content alignment.</div>
    <br />
    <b>align-items-*</b>
    <div>Where * can be start, end, center, baseline, stretch</div>
    <b>align-content-*</b>
    <div>Where * can be start, end, center, baseline, stretch</div>
    <b>align-self-*</b>
    <div>Where * can be start, end, center, baseline, stretch</div>
    <b>justify-content-*</b>
    <div>Where * can be start, end, center, between, around</div>
  </np-card-body>
</np-card>

<np-card>
  <np-card-body>
    <h3>Hidden</h3>
    <br />
    <div>
      Use classes
      <b>np-hidden, np-hidden-sm, np-hidden-md, np-hidden-lg, np-hidden-xl</b>
      to hide content based on device type.
    </div>
    <br />
    <div class="np-container np-demo-container">
      <div class="np-row">
        <div class="np-col np-col-3 np-hidden-sm">np-hidden-sm</div>
        <div class="np-col np-col-3 np-hidden-md">np-hidden-md</div>
        <div class="np-col np-col-3 np-hidden-lg">np-hidden-lg</div>
        <div class="np-col np-col-3 np-hidden-xl">np-hidden-xl</div>
      </div>
    </div>
  </np-card-body>
</np-card>
