<h2 class="page-header">Master-Detail example</h2>

<p>To set master-details in data grid, set <b>masterDetailTemplate</b> in grid defination</p>

<div>Set single row expand mode
    <np-switch [(ngModel)]="singleRowExpand"></np-switch>
</div>

<br>
<np-data-grid [columns]="gridColumns"
              [dataSource]="gridDataSource"
              [masterDetailTemplate]="masterDetailTemplate"
              [singleRowExpand]="singleRowExpand"
              [expandRowOnClick]="true">
</np-data-grid>

<!-- Template for child section -->
<ng-template #masterDetailTemplate
             let-row="row">
    <span><b>Name: </b>{{row.FirstName}} {{row.LastName}}</span>
    <br>
    <span><b>Age: </b>{{row.Age}} years</span>
    <br>
    <span><b>Birth Date: </b>{{row.BirthDate | date:'dd/MM/yyyy'}}</span>
</ng-template>