<div class="sub-header">
    Tabs
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <b>Module to import</b>
            <div>
                <pre><code [innerText]="importText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <b>HTML</b>
            <div>
                <pre><code [innerText]="htmlText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <b>&lt;np-tabs&gt;</b>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>horizontalTabs</td>
                    <td>Set tab horizontal or vertical</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>styleClass</td>
                    <td>Set extra class on component</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>inputId</td>
                    <td>Set id attribute.</td>
                    <td>string</td>
                    <td></td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <b>&lt;np-tab&gt;</b>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>title</td>
                    <td>Set title for tab</td>
                    <td>string | TemplateRef&lt;any&gt;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>active</td>
                    <td>Get/Set flag for current active tab, only one tab will be active at a time.</td>
                    <td>boolean</td>
                    <td></td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td>Set tab as disabled</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>height</td>
                    <td>Set height of tab in px</td>
                    <td>number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>isLoadingFirstTime</td>
                    <td>Internal property, True on loading tab first time, after that will be set to false.
                        <br> Helpful while making lazy load tabs, and loading data on click of tab.
                    </td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>inputId</td>
                    <td>Set id attribute.</td>
                    <td>string</td>
                    <td></td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <b>&lt;np-tabs&gt;</b>
            <table class="np-table">
                <tr>
                    <th>Apis</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>
                        selectTabByIndex(idx: number)
                    </td>
                    <td>
                        Open tab by index, start with 0.
                    </td>
                    <td>idx: number</td>
                </tr>
                <tr>
                    <td>
                        selectTabById(id: string)
                    </td>
                    <td>
                        Open tab by inputId.
                    </td>
                    <td>id: string</td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <b>&lt;np-tabs&gt;</b>
            <table class="np-table">
                <tr>
                    <th>Methods</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>
                        onTabChange(tab: NpTabComponent)
                    </td>
                    <td>
                        Callback event on change of tab.<br>
                        <b>isLoadingFirstTime</b> property of tab is used here to add lazy loading in tabs.
                    </td>
                    <td>tab: NpTabComponent</td>
                </tr>
            </table>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <legend>Tabs basic</legend>
            <np-tabs #tabs>
                <np-tab [title]="'Tab1'">
                    <h1>
                        Tab 1
                    </h1>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                </np-tab>
                <np-tab [title]="tab2Title" [inputId]="'tab2'">
                    <ng-template #tab2Title>
                        <i class="fa fa-home"></i> Tab2<span class='np-badge'>{{count}}</span>
                    </ng-template>
                    <h1>
                        Tab 2
                    </h1>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                </np-tab>
                <np-tab [title]="'Tab3'" [disabled]="toggleTab3Disabled">
                    <h1>
                        Tab 3
                    </h1>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                </np-tab>
                <np-tab [title]="'Tab4'" [height]="200" *ngIf="isTab4Visible">
                    <h1>
                        Tab 4
                    </h1>
                    <p>
                        A first paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                        add one idea at a time to your broader argument.
                    </p>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                    <p>
                        A last paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                        add one idea at a time to your broader argument.
                    </p>
                </np-tab>
            </np-tabs>

            <div class="np-btn-group">
                <button type="button" class="np-btn" (click)="loadTabById()">Open Tab 2 with Id</button>
                <button type="button" class="np-btn" (click)="changeCount()">Change Title of tab2</button>
                <button type="button" class="np-btn" (click)="ToggleTab3Disabled()">Toggle tab 3 disabled</button>
                <button type="button" class="np-btn" (click)="loadTab4()">Open 4th Tab by index</button>
                <button type="button" class="np-btn" (click)="toggleTab4()">Toggle tab 4</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Horizontal tabs</legend>
            <np-tabs (onTabChange)="onTabChange($event)" #tabs2 [horizontalTabs]="true">
                <np-tab [title]="'Tab1'">
                    <h1>
                        Tab 1 , Check console for isLoadingFirstTime flag value.
                    </h1>
                    <h1>
                        This isLoadingFirstTime flag is used to know tab is open for first time or not?. This helps in loading data from cache or not.
                    </h1>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                </np-tab>
                <np-tab [title]="'Tab2'" [active]="true" [height]="200">
                    <h1>
                        Tab 2 , Check console for isLoadingFirstTime flag value
                    </h1>
                    <h1>
                        This isLoadingFirstTime flag is used to know tab is open for first time or not?. This helps in loading data from cache or not.
                    </h1>
                    <p>
                        A first paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                        add one idea at a time to your broader argument.
                    </p>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                    <p>
                        A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                        one idea at a time to your broader argument.
                    </p>
                    <p>
                        A last paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                        add one idea at a time to your broader argument.
                    </p>
                </np-tab>
            </np-tabs>
        </fieldset>
    </np-tab>
</np-tabs>