<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Tabs">
            np-tabs
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-tabs-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>Tabs basic</legend>
    <np-tabs #tabs>
        <np-tab [title]="'Tab1'">
            <h1>
                Tab 1
            </h1>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
        </np-tab>
        <np-tab [title]="tab2Title" [inputId]="'tab2'">
            <ng-template #tab2Title>
                <i class="fa fa-home"></i> Tab2<span class='np-badge'>{{count}}</span>
            </ng-template>
            <h1>
                Tab 2
            </h1>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
        </np-tab>
        <np-tab [title]="'Tab3'" [disabled]="toggleTab3Disabled">
            <h1>
                Tab 3
            </h1>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
        </np-tab>
        <np-tab [title]="'Tab4'" [height]="200" *ngIf="isTab4Visible">
            <h1>
                Tab 4
            </h1>
            <p>
                A first paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                add one idea at a time to your broader argument.
            </p>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
            <p>
                A last paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                add one idea at a time to your broader argument.
            </p>
        </np-tab>
    </np-tabs>

    <div class="np-btn-group">
        <button type="button" class="np-btn" (click)="loadTabById()">Open Tab 2 with Id</button>
        <button type="button" class="np-btn" (click)="changeCount()">Change Title of tab2</button>
        <button type="button" class="np-btn" (click)="ToggleTab3Disabled()">Toggle tab 3 disabled</button>
        <button type="button" class="np-btn" (click)="loadTab4()">Open 4th Tab by index</button>
        <button type="button" class="np-btn" (click)="toggleTab4()">Toggle tab 4</button>
    </div>
</fieldset>

<fieldset>
    <legend>Horizontal tabs</legend>
    <np-tabs (onTabChange)="onTabChange($event)" #tabs2 [horizontalTabs]="true">
        <np-tab [title]="'Tab1'">
            <h1>
                Tab 1 , Check console for isLoadingFirstTime flag value.
            </h1>
            <h1>
                This isLoadingFirstTime flag is used to know tab is open for first time or not?. This helps in loading data from cache or not.
            </h1>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
        </np-tab>
        <np-tab [title]="'Tab2'" [active]="true" [height]="200">
            <h1>
                Tab 2 , Check console for isLoadingFirstTime flag value
            </h1>
            <h1>
                This isLoadingFirstTime flag is used to know tab is open for first time or not?. This helps in loading data from cache or not.
            </h1>
            <p>
                A first paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                add one idea at a time to your broader argument.
            </p>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
            <p>
                A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                one idea at a time to your broader argument.
            </p>
            <p>
                A last paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
                add one idea at a time to your broader argument.
            </p>
        </np-tab>
    </np-tabs>
</fieldset>