<div class="sub-header">
    Block UI
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>HTML</b>
                <div>
                    <pre><code [innerText]="htmlText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>np-blockui</td>
                        <td>Show block ui</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
    </np-tab>

    <np-tab title="Examples">
        <fieldset>
            <legend>Block on div</legend>
            <div style="height: 200px;width: 200px;background-color: lightblue;" [np-blockui]="blockUi1"></div>
            <div class="np-btn-group">
                <button class="np-btn" (click)="blockUi1 = true">Block</button>
                <button class="np-btn" (click)="blockUi1 = false">Unblock</button>
            </div>
        </fieldset>
    </np-tab>
</np-tabs>