<div class="nav-inline">
    <ul class="nav-inline-menu">
        <li><a target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Data%20Grid">np-data-grid</a> </li>
        <li><a routerLink="/np-data-grid-demo/client-grid" routerLinkActive="active">Client Side</a> </li>
        <li><a routerLink="/np-data-grid-demo/server-grid" routerLinkActive="active">Server Side</a> </li>
        <li><a routerLink="/np-data-grid-demo/sorting-grid" routerLinkActive="active">Sorting</a></li>
        <li><a routerLink="/np-data-grid-demo/filter-grid" routerLinkActive="active">Filters</a></li>
        <li><a routerLink="/np-data-grid-demo/celltemplate-grid" routerLinkActive="active">Cell Templates</a>
        </li>
        <li><a routerLink="/np-data-grid-demo/toolbar-grid" routerLinkActive="active">Toolbar, Column Chooser,
                Export</a></li>
        <li><a routerLink="/np-data-grid-demo/columns-grid" routerLinkActive="active">Column Reorder/Resize and
                Other</a></li>
        <li><a routerLink="/np-data-grid-demo/row-select-grid" routerLinkActive="active">Row Selection</a></li>
        <li><a routerLink="/np-data-grid-demo/master-detail-grid" routerLinkActive="active">Master-Detail</a> </li>
        <li><a routerLink="/np-data-grid-demo/summary-grid" routerLinkActive="active">Summary</a> </li>
        <li><a routerLink="/np-data-grid-demo/state-management-grid" routerLinkActive="active">State Management</a>
        </li>
        <li><a routerLink="/np-data-grid-demo/other-grid" routerLinkActive="active">Other</a></li>
        <li><a routerLink="/np-data-grid-demo/odata-grid" routerLinkActive="active">OData Server Side</a></li>
        <li><a routerLink="/np-data-grid-demo/inside-tab-grid" routerLinkActive="active">Inside tab</a></li>
        <li><a routerLink="/np-data-grid-demo/client-grid-all" routerLinkActive="active">Client Side Grid Full</a>
        </li>
        <li><a routerLink="/np-data-grid-demo/server-grid-all" routerLinkActive="active">Server Side Grid Full</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>