<h2>
    <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-data-grid-demo/inside-tab-grid">
        Responsive data grid example.
    </a>
</h2>

<np-ui-tabs title="Emplyee List">
    <np-ui-tab [title]="'Employees'" [id]="'tabEmployees'" [height]="500">
        <np-ui-data-grid [columns]="gridColumns" [dataSource]="gridDataSource" [pageSize]="20" [height]="400">
        </np-ui-data-grid>
    </np-ui-tab>
</np-ui-tabs>