<div class="sub-header">
    Client side Basic data grid example
</div>
<div class="np-jumbotron">
    <pre><code>{{htmlText}}</code></pre>
</div>
<p>To set client side operations in datagrid, add <b>columns</b> and <b>dataSource</b> in grid defination</p>
<div class="np-jumbotron">
    <pre><code>{{gridColumnText}}</code></pre>
</div>
<div class="np-jumbotron">
    <pre><code>{{gridDataSourceText}}</code></pre>
</div>

<np-data-grid [columns]="gridColumns" [dataSource]="gridDataSource">
</np-data-grid>