<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Menubar">
            np-menubar
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-menubar-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>Vertical</legend>
    <np-menubar [items]="items"></np-menubar>
</fieldset>

<fieldset>
    <legend>Horizontal</legend>
    <np-menubar [items]="itemsHorizontal" [orientation]="'horizontal'" [styleClass]="'myClass'"></np-menubar>
</fieldset>

<fieldset>
    <legend>Popup menu</legend>
    <button type="button" class="np-btn" np-popup-menubar [items]="itemsPopupMenubar">
        <svg class="np-icon" viewBox="0 0 24 24">
            <path d="M13 13v8h8v-8h-8zM3 21h8v-8H3v8zM3 3v8h8V3H3zm13.66-1.31L11 7.34 16.66 13l5.66-5.66-5.66-5.65z" />
            <path d="M0 0h24v24H0z" fill="none" />
        </svg>
    </button>
</fieldset>

<fieldset>
    <legend>Panel menu</legend>
    <np-menubar [items]="itemsPanelMenu" [isPanelMenu]="true"></np-menubar>
</fieldset>