<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Menubar">
            np-menubar
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-menubar-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>Vertical</legend>
    <np-menubar [items]="items" (onClickMenuItem)="onClickMenuItem($event)"></np-menubar>
</fieldset>

<fieldset>
    <legend>Horizontal</legend>
    <np-menubar [items]="itemsHorizontal" [orientation]="'horizontal'" [styleClass]="'myClass'" (onClickMenuItem)="onClickMenuItem($event)"></np-menubar>
</fieldset>

<fieldset>
    <legend>Popup menu</legend>
    <button type="button" class="np-btn" np-popup-menubar [items]="itemsPopupMenubar" (onClickMenuItem)="onClickMenuItem($event)">
        <i class="fa fa-bars"></i>
    </button>
</fieldset>

<fieldset>
    <legend>Panel menu</legend>
    <np-menubar [items]="itemsPanelMenu" [isPanelMenu]="true" (onClickMenuItem)="onClickMenuItem($event)"></np-menubar>
</fieldset>