<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-notification-demo">
            np-ui-notification
        </a>
    </h2>
</div>

<np-ui-notification></np-ui-notification>

<div class="np-btn-group">
    <button class="np-btn" (click)="success()">Success</button>
    <button class="np-btn" (click)="error()">Error</button>
    <button class="np-btn" (click)="warning()">Warning</button>
    <button class="np-btn" (click)="info()">Info</button>
    <button class="np-btn" (click)="successWithHeader()">Notification With Header</button>
    <button class="np-btn" (click)="errorWithHTML()">Notification With HTML text</button>
    <button class="np-btn np-btn-danger" (click)="removeAll()">Remove All</button>
</div>