<h2> Dialog</h2>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>Inject NpModalService in component</b>
                <div>
                    <pre><code [innerText]="serviceText"></code></pre>
                </div>
                <span class="np-text-info">Dialogs are using NpModalSercice to show overlays.
                    <br>
                    NpDialogComponent contains <b>type</b> and <b>message</b> properties which needs to pass in
                    service.</span>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>Component</b>
                <div>
                    <pre><code [innerHtml]="componentText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <div class="np-btn-group">
            <button class="np-btn" (click)="openAlert()">Open Alert</button>
            <button class="np-btn" (click)="openPrompt()">Open Prompt</button>
            <button class="np-btn" (click)="openConfirm()">Open Confirm</button>
        </div>
    </np-tab>
</np-tabs>