<div class="sub-header">
    Dialog
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>HTML</b>
                <div>
                    <pre><code [innerText]="htmlText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>Message to display in dialog</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>'alert' | 'prompt' | 'confirm'</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Api</th>
                        <th>Description</th>
                        <th>Parameters</th>
                    </tr>
                    <tr>
                        <td>
                            open()
                        </td>
                        <td>
                            Open modal
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            close()
                        </td>
                        <td>
                            Close modal
                        </td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Methods</th>
                        <th>Description</th>
                        <th>Parameters</th>
                    </tr>
                    <tr>
                        <td>
                            onOkClick(string: value)
                        </td>
                        <td>
                            Event to be called while ok button is clicked, <br>If type is prompt then value parameter
                            returns textbox value, else value will be undefined.
                        </td>
                        <td>value</td>
                    </tr>
                    <tr>
                        <td>
                            onCancelClick()
                        </td>
                        <td>
                            Event to be called while cancel button is clicked
                        </td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <np-dialog [type]="'alert'" [message]="'Saved successfully.'" #dialogAlert>
        </np-dialog>
        <np-dialog [type]="'prompt'" [message]="'Enter your name'" (onOkClick)="onPromptOkClick($event)"
            (onCancelClick)="onCancelClick()" #dialogPrompt></np-dialog>
        <np-dialog [type]="'confirm'" [message]="'Are you sure to delete?'" #dialogConfirm>
        </np-dialog>

        <div class="np-btn-group">
            <button class="np-btn" (click)="openAlert()">Open Alert</button>
            <button class="np-btn" (click)="openPrompt()">Open Prompt</button>
            <button class="np-btn" (click)="openConfirm()">Open Confirm</button>
        </div>
    </np-tab>
</np-tabs>