<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Breadcrumb">
            np-breadcrumb
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-breadcrumb-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>With default home icon</legend>
    <np-breadcrumb [items]="items" (onClick)="onClick($event)"></np-breadcrumb>
</fieldset>

<fieldset>
    <legend>Set showHomeIcon to false</legend>
    <np-breadcrumb [items]="items" [showHomeIcon]="false" (onClick)="onClick($event)"></np-breadcrumb>
</fieldset>

<fieldset>
    <legend>Set homeIconCss attribute</legend>
    <np-breadcrumb [items]="items" [homeIconCss]="'fa fa-list'" (onClick)="onClick($event)"></np-breadcrumb>
</fieldset>