<div class="sub-header">
    Breadcrumb
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>HTML</b>
                <div>
                    <pre><code [innerText]="htmlText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>items</td>
                        <td>Array of data</td>
                        <td>NpBreadcrumbItem[]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>showIcon</td>
                        <td>Show icon or not</td>
                        <td>boolean</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>iconCss</td>
                        <td>Set CSS for icon like 'fa fa-home',
                            <br>if not passing this then default home icon will display.</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>styleClass</td>
                        <td>Set extra class on component</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>inputId</td>
                        <td>Set id attribute</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Methods</th>
                        <th>Description</th>
                        <th>Parameters</th>
                    </tr>
                    <tr>
                        <td>
                            onClick(item: NpBreadcrumbItem)
                        </td>
                        <td>
                            Callback event for click on item
                        </td>
                        <td>item: NpBreadcrumbItem</td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>NpBreadcrumbItem</b>
                <pre><code>{{modelText}}</code></pre>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>label</td>
                        <td>Label to display</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>Data</td>
                        <td>any</td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <legend>With default home icon</legend>
            <np-breadcrumb [items]="items" (onClick)="onClick($event)"></np-breadcrumb>
        </fieldset>

        <fieldset>
            <legend>Set showIcon to false</legend>
            <np-breadcrumb [items]="items" [showIcon]="false" (onClick)="onClick($event)"></np-breadcrumb>
        </fieldset>

        <fieldset>
            <legend>Set iconCss attribute</legend>
            <np-breadcrumb [items]="items" [iconCss]="'fa fa-list'" (onClick)="onClick($event)"></np-breadcrumb>
        </fieldset>
    </np-tab>
</np-tabs>