@mixin framework-style {
  .np-widget-overview-box {
    color: #fff;
    padding: 1rem;
    border: 1px solid $border-color;
  }

  .np-widget-overview-icon,
  .np-widget-overview-text {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .np-widget-overview-status {
    font-size: 1.5rem;
    text-align: center;
  }

  .np-widget-overview-bg-1 {
    background-color: #1e7e34 !important;
  }

  .np-widget-overview-bg-2 {
    background-color: #d9534f !important;
  }

  .np-widget-overview-bg-3 {
    background-color: #117a8b !important;
  }

  .np-widget-overview-bg-4 {
    background-color: #d39e00 !important;
  }

  .np-price-table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 250px;
    border: 1px solid $border-color;

    li {
      border-bottom: 1px solid $border-color;
      padding: $spacer;
      text-align: center;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .np-price-table-header {
    background-color: $primary-color;
    color: white;
    font-size: 2rem;
  }

  .np-price-table-sub-header {
    background-color: $selected-background-color;
    font-size: 1.5rem;
  }

  .np-price-table-footer {
    background-color: $selected-background-color;
  }

  .np-list-group {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  .np-list-group-striped {
    .np-list-group-item:nth-child(odd) {
      background-color: $background-color;
    }
  }

  .np-list-group-item {
    position: relative;
    display: block;
    padding: $spacer/2 $spacer;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  .np-list-group-item-active {
    background-color: $primary-color;
    color: #ffffff;
  }

  .np-list-group-item-action:hover {
    background-color: $selected-background-color !important;
    cursor: pointer;
  }

  .np-avatar {
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .np-avatar-small {
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .np-table {
    width: 100%;
    max-width: 100%;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    border-spacing: 0px;
    margin-bottom: $spacer/2;

    td,
    th {
      padding: $spacer/2 $spacer;
      vertical-align: top;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      text-align: left;
    }

    tr {
      td:last-child,
      th:last-child {
        border-right: none;
      }

      &:last-child td {
        border-bottom: none;
      }
    }

    th {
      background-color: $background-color;
    }

    td {
      background-color: #ffffff;
    }
  }

  .np-table-striped tr:nth-child(odd) td {
    background-color: $background-color;
  }
}
