@import "core.scss";
@import "np-accordion.component.scss";
@import "np-auto-complete.component.scss";
@import "np-breadcrumb.component.scss";
@import "np-calendar.component.scss";
@import "np-card.component.scss";
@import "np-carousel.component.scss";
@import "np-checkbox.component.scss";
@import "np-color-picker.component.scss";
@import "np-data-grid.component.scss";
@import "np-date-picker.component.scss";
@import "np-dialog.component.scss";
@import "np-dropdown.component.scss";
@import "np-file-upload.component.scss";
@import "np-list.component.scss";
@import "np-menubar.component.scss";
@import "np-modal.component.scss";
@import "np-notifications.component.scss";
@import "np-number-box.component.scss";
@import "np-paginator.component.scss";
@import "np-panel.component.scss";
@import "np-popover.component.scss";
@import "np-progress.component.scss";
@import "np-radio-button.component.scss";
@import "np-sidepanel.component.scss";
@import "np-slider.component.scss";
@import "np-steps.component.scss";
@import "np-switch.component.scss";
@import "np-tabs.component.scss";
@import "np-tags.component.scss";
@import "np-time-picker.component.scss";
@import "np-tooltip.component.scss";
@import "np-tree-view.component.scss";
@import "np-virtual-scroll.component.scss";
@import "np-rich-text.component.scss";
@import "np-timeline.component.scss";

@mixin theme {
    @include np-core-style;
    @include np-accordion-style;
    @include np-auto-complete-style;
    @include np-breadcrumb-style;
    @include np-calendar-style;
    @include np-card-style;
    @include np-carousel-style;
    @include np-checkbox-style;
    @include np-color-picker-style;
    @include np-data-grid-style;
    @include np-date-picker-style;
    @include np-dialog-style;
    @include np-dropdown-style;
    @include np-file-upload-style;
    @include np-list-style;
    @include np-menubar-style;
    @include np-modal-style;
    @include np-notifications-style;
    @include np-number-box-style;
    @include np-paginator-style;
    @include np-panel-style;
    @include np-popover-style;
    @include np-progress-style;
    @include np-radio-button-style;
    @include np-sidepanel-style;
    @include np-slider-style;
    @include np-steps-style;
    @include np-switch-style;
    @include np-tabs-style;
    @include np-tags-style;
    @include np-time-picker-style;
    @include np-tooltip-style;
    @include np-tree-view-style;
    @include np-virtual-scroll-style;
    @include np-rich-text-style;
    @include np-timeline-style;
}
