<div class="sub-header">
    Modal
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>NpModalService</b>
                <p>Inject NpModalService into constructor of component</p>
                <div>
                    <pre><code [innerText]="serviceInjectText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>How to open modal?</b>
                <div>
                    <pre><code [innerText]="modalOpenText"></code></pre>
                </div>
                <b>open(content: string | TemplateRef&lt;any&gt; | Type&lt;any&gt;, config: NpModalConfig, data: any):
                    NpModalRef;</b>
                <p>Here open method has 3 parameters, and this method return the overlay refrence object of class
                    <b>NpModalRef</b></p>
                <table class="np-table">
                    <tr>
                        <th>Parameter</th>
                        <th>Description</th>
                        <th>Type</th>
                    </tr>
                    <tr>
                        <td>content</td>
                        <td>Pass content of modal
                            <pre><code [innerText]="stringModalText"></code></pre>
                            <pre><code [innerText]="templateModalText"></code></pre>
                            <pre><code [innerHtml]="componentModalText"></code></pre>
                        </td>
                        <td>string | TemplateRef&lt;any&gt; | Type&lt;any&gt;</td>
                    </tr>
                    <tr>
                        <td>config</td>
                        <td>Pass modal config<br>
                            Which has properties like <b>header, height, width, hasBackDrop, backDropClass,
                                showCloseButton, closeOnClickOutside, styleClass, inputId</b>.
                            <pre><code [innerText]="configText"></code></pre>
                        </td>
                        <td>NpModalConfig</td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>Pass data to modal</td>
                        <td>any</td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>How to subscribe onClose method of modal?</b>
                <p><b>open</b> method returns overlay refrence object, which has property <b>onClose:
                        Subject&lt;any&gt;</b></p>
                <pre><code [innerText]="subscribeText"></code></pre>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>How to access data and NpModalRef object in another component?</b>
                <p>In another component, overlay refrence is injected using injector.</p>
                <pre><code [innerText]="overlayRefText"></code></pre>
                <p>Here <b>ref</b> object contains <b>data: any</b> and <b>close(data: any)</b> method. Which will close
                    overlay.</p>
                <p>Pass response data in close(data: any) method's parameter, which will be accessible where
                    <b>onClose</b> is subscribed.
                </p>
            </np-card-body>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <legend>string</legend>
            <div class="np-btn-group">
                <button class="np-btn" (click)="openModal1()">Open Modal</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>TemplateRef&lt;any&gt;</legend>
            <ng-template #modal2>
                <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea.
                    A paragraph
                    consists of one or more sentences. Though not required by the syntax of any language, paragraphs are
                    usually an
                    expected part of formal writing, used to organize longer prose.</p>
                <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea.
                    A paragraph
                    consists of one or more sentences. Though not required by the syntax of any language, paragraphs are
                    usually an
                    expected part of formal writing, used to organize longer prose.</p>
                <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea.
                    A paragraph
                    consists of one or more sentences. Though not required by the syntax of any language, paragraphs are
                    usually an
                    expected part of formal writing, used to organize longer prose.</p>
                <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea.
                    A paragraph
                    consists of one or more sentences. Though not required by the syntax of any language, paragraphs are
                    usually an
                    expected part of formal writing, used to organize longer prose.</p>
            </ng-template>

            <div class="np-btn-group">
                <button class="np-btn" (click)="openModal2()">Open Modal</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Type&lt;any&gt;</legend>
            <div class="np-btn-group">
                <button class="np-btn" (click)="openModal3()">Open Modal</button>
            </div>
        </fieldset>
    </np-tab>
</np-tabs>