<h2 class="page-header">Padding and Margin</h2>

<np-card>
    <np-card-body>
        <h3>Padding and Margin can be applied as &#123;property&#125;&#123;sides&#125;-&#123;size&#125;</h3>
        <p><b>Where property means:</b></p>
        <ul>
            <li>m - for classes that set margin</li>
            <li>p - for classes that set padding</li>
        </ul>
        <p><b>Where sides means:</b></p>
        <div>If sides are not mentioned then all sides will be included</div>
        <ul>
            <li>t - for top</li>
            <li>r - for right</li>
            <li>b - for bottom</li>
            <li>l - for left</li>
        </ul>
        <p><b>Where size means:</b></p>
        <div>Here $spacer is SASS variable declared in theming</div>
        <ul>
            <li>1 - for $spacer/2</li>
            <li>2 - for $spacer</li>
            <li>3 - for $spacer*2</li>
            <li>4 - for $spacer*3</li>
            <li>5 - for $spacer*4</li>
        </ul>

        <p><b>Examples:</b></p>
        <ul>
            <li>m-1</li>
            <li>mt-2</li>
            <li>mr-3</li>
            <li>pb-4</li>
            <li>pl-5</li>
        </ul>

        <p><b>Auto Margin</b></p>
        <ul>
            <li>use <b>m-auto</b> for all side auto margin</li>
            <li>use <b>mt-auto</b> for top auto margin</li>
            <li>use <b>mr-auto</b> for right auto margin</li>
            <li>use <b>mb-auto</b> for bottom auto margin</li>
            <li>use <b>ml-auto</b> for left auto margin</li>
        </ul>
    </np-card-body>
</np-card>