<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Loader">
            np-loader
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-loader-demo">
            Demo
        </a>
    </h2>
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <b>Module to import</b>
            <div>
                <pre><code [innerText]="importText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <b>HTML</b>
            <div>
                <pre><code [innerText]="htmlText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>np-loader</td>
                    <td>Show loader or not</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>loadingText</td>
                    <td></td>
                    <td>string</td>
                    <td></td>
                </tr>
            </table>
        </np-card>
    </np-tab>

    <np-tab title="Examples">
        <fieldset>
            <legend>Loader on div</legend>
            <div style="height: 200px;width: 200px;background-color: lightblue;" [np-loader]="loader1"></div>
            <div class="np-btn-group">
                <button class="np-btn" (click)="loader1 = true">Show Loader</button>
                <button class="np-btn" (click)="loader1 = false">Hide Loader</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Loader on Button</legend>
            <div class="np-btn-group">
                <button class="np-btn" (click)="loader2 = true" [np-loader]="loader2">Show Loader</button>
                <button class="np-btn" (click)="loader2 = false">Hide Loader</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Loader with text</legend>
            <div style="height: 200px;background-color: lightblue;" [np-loader]="loader3" [loadingText]="'Loading...'">
            </div>
            <div class="np-btn-group">
                <button class="np-btn" (click)="loader3 = true">Show Loader</button>
                <button class="np-btn" (click)="loader3 = false">Hide Loader</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>On other component</legend>

            <div [np-loader]="loader4">
                <np-tabs>
                    <np-tab [title]="'Tab 1'">
                        <h1>
                            Tab 1
                        </h1>
                        <p>
                            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                            one idea at a time to your broader argument.
                        </p>
                    </np-tab>
                    <np-tab [title]="'Tab2'">
                        <h1>
                            Tab 2
                        </h1>
                        <p>
                            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
                            one idea at a time to your broader argument.
                        </p>
                    </np-tab>
                </np-tabs>
            </div>
            <div class="np-btn-group">
                <button class="np-btn" (click)="loader4 = true">Show Loader</button>
                <button class="np-btn" (click)="loader4 = false">Hide Loader</button>
            </div>
        </fieldset>
    </np-tab>
</np-tabs>