<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank"
            href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-time-picker-demo">
            np-ui-time-picker
        </a>
    </h2>
</div>

<div>
    <fieldset>
        <legend>1. Default Time picker</legend>
        <np-ui-time-picker [(ngModel)]="timePicker1"></np-ui-time-picker>
        <div>Selected time is : {{timePicker1}}</div>
        <button type="button" (click)="timePicker1 = '6:30:30 PM'">Set 6:30:30 PM</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>2. 24 hours format time picker</legend>
        <np-ui-time-picker [(ngModel)]="timePicker2" [is24Hours]=true></np-ui-time-picker>
        <div>Selected time is : {{timePicker2}}</div>
        <button type="button" (click)="timePicker2 = '23:15:00'">Set 23:15:00 PM</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>3. Disabled</legend>
        <np-ui-time-picker [(ngModel)]="timePicker3" disabled></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <form #form="ngForm">
        <fieldset>
            <legend>4. Required validation</legend>
            <np-ui-time-picker [(ngModel)]="timePicker4" #validations="ngModel" required name="startTime">
            </np-ui-time-picker>
            <div *ngIf="validations.control.touched && validations.control.errors?.required" class="color-red">
                Start time is required.
            </div>
            <p>Form valid: {{ form.valid }}</p>
        </fieldset>
    </form>
</div>

<div>
    <fieldset>
        <legend>5. Default open time picker</legend>
        <np-ui-time-picker [(ngModel)]="timePicker5" [defaultOpen]="true" #validations5="ngModel"
            [disabled]="timePicker5Disable" [required]="timePicker5Required"></np-ui-time-picker>
        <div *ngIf="validations5.control.touched && validations5.control.errors?.required" class="color-red">
            Time is required.
        </div>
        <button (click)="timePicker5Disable = !timePicker5Disable">Toggle Disable</button>
        <button (click)="timePicker5Required = !timePicker5Required">Toggle Required</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>6. Set placeholder to time picker</legend>
        <np-ui-time-picker [(ngModel)]="timePicker6" [placeholder]="'Select start time'"></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>7. Show Now button</legend>
        12 hrs:<np-ui-time-picker [(ngModel)]="timePicker71" [showNowButton]="true"></np-ui-time-picker>
        24 hrs:<np-ui-time-picker [(ngModel)]="timePicker72" [showNowButton]="true" [is24Hours]=true>
        </np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>8. Hide seconds dropdown in time picker</legend>
        <np-ui-time-picker [hideSeconds]=true [(ngModel)]="timePicker8"></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>9. Change event of time picker</legend>
        <np-ui-time-picker [(ngModel)]="timePicker9" (onChange)="onChange($event)"></np-ui-time-picker>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>10. Style class</legend>
        <np-ui-time-picker [(ngModel)]="timePicker10" [styleClass]="'myClass'"></np-ui-time-picker>
    </fieldset>
</div>