<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-utility-demo">
            np-ui-utility
        </a>
    </h2>
</div>

<fieldset>
    <legend>Button group</legend>
    <div class="np-btn-group">
        <button class="np-btn np-border">Normal</button>
        <button class="np-btn np-btn-success">Success</button>
        <button class="np-btn np-btn-danger">Error</button>
        <button class="np-btn np-btn-warning">Warning</button>
        <button class="np-btn np-btn-info">Info</button>
    </div>

    <div class="np-btn-group">
        <button class="np-btn np-btn-sm np-border">Normal</button>
        <button class="np-btn np-btn-success np-btn-sm">Success</button>
        <button class="np-btn np-btn-danger np-btn-sm">Error</button>
        <button class="np-btn np-btn-warning np-btn-sm">Warning</button>
        <button class="np-btn np-btn-info np-btn-sm">Info</button>
    </div>
</fieldset>

<fieldset>
    <legend>Alerts</legend>
    <div class="np-alert np-alert-success">
        <div class="np-alert-header">Success</div>
        <div>This is success alert.</div>
    </div>
    <div class="np-alert np-alert-danger">
        <div class="np-alert-header">Error</div>
        <div>This is error alert.</div>
    </div>
    <div class="np-alert np-alert-warning">
        <div class="np-alert-header">Warning</div>
        <div>This is warning alert.</div>
    </div>
    <div class="np-alert np-alert-info">
        <div class="np-alert-header">Info</div>
        <div>This is info alert.</div>
    </div>
</fieldset>

<fieldset>
    <legend>Highlight Text</legend>
    <p [innerHTML]="text | npUiHighLight: 'paragraph'"></p>
</fieldset>