<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-utility-demo">
            np-ui-utility
        </a>
    </h2>
</div>

<fieldset>
    <legend>Button group</legend>
    <div class="np-btn-group">
        <button class="np-btn np-border">Normal</button>
        <button class="np-btn np-btn-primary">Primary</button>
        <button class="np-btn np-btn-success">Success</button>
        <button class="np-btn np-btn-danger">Error</button>
        <button class="np-btn np-btn-warning">Warning</button>
        <button class="np-btn np-btn-info">Info</button>
    </div>

    <div class="np-btn-group np-float-right">
        <button class="np-btn np-btn-sm np-border">Normal</button>
        <button class="np-btn np-btn-primary np-btn-sm">Primary</button>
        <button class="np-btn np-btn-success np-btn-sm">Success</button>
        <button class="np-btn np-btn-danger np-btn-sm">Error</button>
        <button class="np-btn np-btn-warning np-btn-sm">Warning</button>
        <button class="np-btn np-btn-info np-btn-sm">Info</button>
    </div>
</fieldset>

<fieldset>
    <legend>Badges</legend>

    <div class="np-btn-group">
        <button class="np-btn np-border">Normal<span class="np-badge">5</span></button>
        <button class="np-btn np-btn-primary">Primary<span class="np-badge">200</span></button>
        <button class="np-btn np-btn-success">Success<span class="np-badge">200</span></button>
        <button class="np-btn np-btn-danger">Error<span class="np-badge">20000000</span></button>
        <button class="np-btn np-btn-warning">Warning<span class="np-badge">New</span></button>
        <button class="np-btn np-btn-info">Info<span class="np-badge">10</span></button>
    </div>
</fieldset>

<fieldset>
    <legend>Form group</legend>
    <form>
        <div class="np-container">
            <div class="np-row">
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">First name:</div>
                        <input type="text" class="np-form-control" [(ngModel)]="firstName" required name="txtFirstName" #txtFirstName="ngModel">
                        <div class="np-form-text np-text-danger" *ngIf="txtFirstName.control.touched && txtFirstName.control.errors?.required">First name is required.
                        </div>
                    </div>
                </div>
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">Last name:</div>
                        <input type="text" class="np-form-control" [(ngModel)]="lastName" required name="txtLastName" #txtLastName="ngModel">
                        <div class="np-form-text np-text-danger" *ngIf="txtLastName.control.touched && txtLastName.control.errors?.required">Last name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="np-row">
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">Birth date:</div>
                        <np-ui-date-picker [(ngModel)]="birthDate" name="txtBirthDate" required #txtBirthDate="ngModel">
                        </np-ui-date-picker>
                        <div class="np-form-text np-text-danger" *ngIf="txtBirthDate.control.touched && txtBirthDate.control.errors?.required">Date is required.
                        </div>
                    </div>
                </div>
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label">Birth time:</div>
                        <np-ui-time-picker [(ngModel)]="birthTime" name="birthTime"></np-ui-time-picker>
                    </div>
                </div>
            </div>
            <div class="np-row">
                <div class="np-col-12">
                    <div class="np-form-group">
                        <div class="np-form-label">Is Active:</div>
                        <np-ui-switch [(ngModel)]="isActive" name="swIsActive"></np-ui-switch>
                    </div>
                </div>
            </div>
            <div class="np-row">
                <div class="np-col-12">
                    <div class="np-form-group">
                        <div class="np-form-label">Description:</div>
                        <textarea class="np-form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="np-btn-group">
                <button type="submit" class="np-btn np-btn-primary">Save</button>
                <button type="button" class="np-btn">Cancel</button>
            </div>
        </div>
    </form>
</fieldset>

<fieldset>
    <legend>Highlight Text</legend>
    <p [innerHTML]="text | npUiHighLight: 'paragraph'"></p>
</fieldset>