<h2>
    <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-data-grid-demo/server-grid-all">
        Server side grid full example
    </a>
</h2>

<np-ui-data-grid #serverSideGrid [columns]="gridColumns" [dataSource]="gridDataSource" [multiRowSelectEnable]="true" [title]="'Server side data grid'" [showColumnChooser]="true" [showToolBar]="true" [allowExportToCSV]="true" [enableStateStoring]="true"
    [showFilters]="showFilters" [showSummary]="true" [summaryTemplate]="summaryTemplate" (onInit)="onInit()" (onAfterInit)="onAfterInit()" [allowColumnReorder]="true" [allowColumnResize]="true" [isServerOperations]="true" [pageSize]=20 (onLoadData)="onLoadData($event)">
</np-ui-data-grid>

<!-- Template for sction buttons column -->
<ng-template #actionButtonsTemplate let-row="row">
    <div class="np-btn-group">
        <button class="np-btn" (click)="onActionClick(row,'Edit', $event)">Edit</button>
        <button class="np-btn" (click)="onActionClick(row,'Delete', $event)">Delete</button>
    </div>
</ng-template>

<!-- Template for birthdate column -->
<ng-template #birthDateColumnTemplate let-row="row">
    {{row.BirthDate | date:'dd/MM/yyyy'}}
</ng-template>

<!-- Template for summary column -->
<ng-template #summaryTemplate let-summary="summary">
    <span>Total:{{summary ? summary.totalCount : 0}}</span>
</ng-template>

<br>

<div class="np-btn-group">
    <button class="np-btn" type="button" (click)="getSelectedRowKeys()">Get Selected Row Keys</button>
    <button class="np-btn" type="button" (click)="toggleFirstColumn()">Toggle 1st column</button>
    <button class="np-btn" type="button" (click)="changeColumns()">Change Column list</button>
    <button class="np-btn" type="button" (click)="showFilters = !showFilters">Toggle Filters</button>
    <button class="np-btn" type="button" (click)="goToPage(2)">Go to Page 2</button>
    <button class="np-btn" type="button" (click)="clearFilters()">Clear All Filters</button>
    <button class="np-btn" type="button" (click)="clearSortings()">Clear All Sorting</button>
    <button class="np-btn" type="button" (click)="reset()">Reset</button>
    <button class="np-btn" type="button" (click)="refresh()">Refresh</button>
    <button class="np-btn" type="button" (click)="updateFirstName()">Update FirstName For Selected Records</button>
</div>