<np-ui-accordion [defaultOpenIndex]="0" #accordionDemo>
    <np-ui-panel [title]="'Paragraph 1'">
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
    </np-ui-panel>

    <np-ui-panel [title]="'Paragraph 2'" [styleClass]="'np-pn-success'">
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
    </np-ui-panel>

    <np-ui-panel [title]="'Paragraph 3'" [styleClass]="'np-pn-danger'" [height]="200">
        <p>
            A first paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
            add one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A last paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
            add one idea at a time to your broader argument.
        </p>
    </np-ui-panel>
</np-ui-accordion>

<button class="np-btn np-btn-primary" (click)="openPara3()">Open paragraph 3</button>