<div class="sub-header">
    <h2>
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-accordion-demo">
            np-ui-accordion
        </a>
    </h2>
</div>

<np-ui-accordion>
    <np-ui-panel id="pnlA" [title]="'Title A'">
        <p>
            Content A
        </p>
    </np-ui-panel>

    <np-ui-panel id="pnlB" [title]="'Title B'">
        <p>
            Content B
        </p>
    </np-ui-panel>

    <np-ui-panel id="pnlC" [title]="'Title C'">
        <p>
            Content C
        </p>
    </np-ui-panel>
</np-ui-accordion>

<br>

<np-ui-accordion [defaultOpenIndex]="0" [singleOpenAtOnce]="_singleOpenAtOnce" #accordionDemo>
    <np-ui-panel id="pnl1" [title]="'Paragraph 1'">
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
    </np-ui-panel>

    <np-ui-panel id="pnl2" [title]="'Paragraph 2'" [disabled]="true">
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
    </np-ui-panel>

    <np-ui-panel id="pnl3" [title]="'Paragraph 3'" [height]="200">
        <p>
            A first paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
            add one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs add
            one idea at a time to your broader argument.
        </p>
        <p>
            A last paragraph is a series of related sentences developing a central idea, called the topic. Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences that supports one central, unified idea. Paragraphs
            add one idea at a time to your broader argument.
        </p>
    </np-ui-panel>
</np-ui-accordion>

<p>
    Single Open :
    <np-ui-switch [(ngModel)]="_singleOpenAtOnce"></np-ui-switch>
</p>


<div class="np-btn-group">
    <button class="np-btn np-btn-primary" (click)="openPara2ById()">Open paragraph 2 by Id</button>
    <button class="np-btn np-btn-primary" (click)="openPara3ByIndex()">Open paragraph 3 by index</button>
</div>