<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-package/wiki/Tags">
            np-tags
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-package/tree/master/src/app/np-tags-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>1. Default tags server side</legend>
    <np-tags [(ngModel)]="tags1" [searchResult]="searchResult1" [isServerSide]="true" (onSearch)="onSearch1($event)">
    </np-tags>
    <div>Selected value : {{tags1 | json}}</div>
</fieldset>

<fieldset>
    <legend>2. Default tags client side</legend>
    <np-tags [(ngModel)]="tags2" [displayKey]="'name'" [searchResult]="searchResult2">
    </np-tags>
    <div>Selected value : {{tags2 | json}}</div>
</fieldset>

<fieldset>
    <legend>3. Create new tag server side</legend>
    <np-tags [(ngModel)]="tags3" [searchResult]="searchResult3" [isServerSide]="true" [allowCreateNew]="true" required="true" (onSearch)="onSearch3($event)">
    </np-tags>
    <div>Selected value : {{tags3 | json}}</div>
</fieldset>

<fieldset>
    <legend>4. Create new tag</legend>
    <np-tags [(ngModel)]="tags4" [displayKey]="'name'" [searchResult]="searchResult4" [allowCreateNew]="true">
    </np-tags>
    <div>Selected value : {{tags4 | json}}</div>
</fieldset>