<div class="sub-header">
    Tooltip
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>HTML</b>
                <div>
                    <pre><code [innerText]="htmlText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>np-tooltip</td>
                        <td>String text or ng-template reference</td>
                        <td>string | TemplateRef</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>placement</td>
                        <td>Set where to show tooltip, possible values are 'left', 'right', 'top', 'bottom'</td>
                        <td>string</td>
                        <td>bottom</td>
                    </tr>
                    <tr>
                        <td>tooltipOnFocus</td>
                        <td>Show tooltip on focus of input control</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>styleClass</td>
                        <td>Set extra class on component</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>inputId</td>
                        <td>Set id attribute</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
    </np-tab>

    <np-tab title="Examples">
        <p>
            <span [np-tooltip]="'This is left tooltip.'" [placement]="'left'">
                Hover me for left tooltip
            </span>
        </p>

        <p>
            <span [np-tooltip]="'This is right tooltip.'" [placement]="'right'" [styleClass]="'myClass'">
                Hover me for right tooltip, with [styleClass] attribute.
            </span>
        </p>

        <p>
            <span [np-tooltip]="tooltipTop" [placement]="'top'">
                Hover me for top tooltip, with ng-template.
                <ng-template #tooltipTop>
                    <u>This is top tooltip</u>
                </ng-template>
            </span>
        </p>

        <p>
            <span [np-tooltip]="tooltipBottom" [placement]="'bottom'">
                Hover me for bottom tooltip, with ng-template.
                <ng-template #tooltipBottom>
                    <i>This is bottom tooltip</i>
                </ng-template>
            </span>
        </p>


        <p>
            <input type="text" style="width: 200px;" placeholder="Tooltip on focus" class="np-form-control"
                [np-tooltip]="'Enter your name.'" [tooltipOnFocus]="true">
        </p>
    </np-tab>
</np-tabs>