<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Tooltip">
            np-tooltip
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-tooltip-demo">
            Demo
        </a>
    </h2>
</div>

<p>
    <span np-tooltip [text]="'This is left tooltip.'" [placement]="'left'">
        Hover me for left tooltip
    </span>
</p>

<p>
    <span np-tooltip [text]="'This is right tooltip.'" [placement]="'right'" [styleClass]="'myClass'">
        Hover me for right tooltip, with [styleClass] attribute.
    </span>
</p>

<p>
    <span np-tooltip [text]="tooltipTop" [placement]="'top'">
        Hover me for top tooltip, with ng-template.
        <ng-template #tooltipTop>
            <u>This is top tooltip.</u>
        </ng-template>
    </span>
</p>

<p>
    <span np-tooltip [text]="tooltipBottom" [placement]="'bottom'">
        Hover me for bottom tooltip, with ng-template.
        <ng-template #tooltipBottom>
            <i>This is bottom tooltip.</i>
        </ng-template>
    </span>
</p>


<p>
    <input type="text" style="width: 200px;" placeholder="Tooltip on focus" class="np-form-control" np-tooltip [text]="'Enter your name.'" [tooltipOnFocus]="true">
</p>