<h2 class="page-header">Progress</h2>

<np-tabs (onTabChange)="onTabChange($event)">
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>HTML</b>
                <div>
                    <pre><code [innerText]="htmlText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>value</td>
                        <td>Progress value</td>
                        <td>number</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>striped</td>
                        <td>Striped design</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>animated</td>
                        <td>Show animated design</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>showLabel</td>
                        <td>Show % number</td>
                        <td>boolean</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>height</td>
                        <td>Height of progress bar in px</td>
                        <td>number</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>styleClass</td>
                        <td>Set extra class on progress bar
                            <br>Pre-defined classes are available like 'np-progress-success', 'np-progress-danger',
                            'np-progress-info',
                            'np-progress-warning'
                        </td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>inputId</td>
                        <td>Set id attribute</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <legend>Default</legend>
            <np-progress [value]="55"></np-progress>
        </fieldset>

        <fieldset>
            <legend>Success + striped</legend>
            <np-progress [value]="progressCount"
                         [styleClass]="'np-progress-success'"
                         [striped]="true"></np-progress>
        </fieldset>

        <fieldset>
            <legend>Error + height</legend>
            <np-progress [value]="50"
                         [styleClass]="'np-progress-danger'"
                         [showLabel]="false"
                         [height]="5">
            </np-progress>
        </fieldset>

        <fieldset>
            <legend>Warning + animated</legend>
            <np-progress [value]="100"
                         [animated]="true"
                         [height]="25"
                         [styleClass]="'np-progress-warning'"></np-progress>
        </fieldset>

        <fieldset>
            <legend>Info + indeterminate</legend>
            <np-progress [indeterminate]="true"
                         [styleClass]="'np-progress-info'"></np-progress>
        </fieldset>
    </np-tab>
</np-tabs>