<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/file%20upload">
            np-file-upload
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-file-upload-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>Single file uploader</legend>
    <np-file-upload [(ngModel)]="fileUpload1"></np-file-upload>
</fieldset>

<fieldset>
    <legend>Multiple file uploader</legend>
    <np-file-upload [(ngModel)]="fileUpload2" [multiple]="true"></np-file-upload>
</fieldset>

<fieldset>
    <legend>Required</legend>
    <np-file-upload [(ngModel)]="fileUpload3" required></np-file-upload>
</fieldset>

<fieldset>
    <legend>Disabled</legend>
    <np-file-upload [(ngModel)]="fileUpload4" disabled></np-file-upload>
</fieldset>

<fieldset>
    <legend>File Extentions validation for svg, ico</legend>
    <np-file-upload [(ngModel)]="fileUpload5" [extentions]="'svg,ico'" #fileUpload5Control="ngModel"></np-file-upload>
    <div class="np-text-danger" *ngIf="fileUpload5Control.errors && fileUpload5Control.errors.extentions">
        Invalid Extention.
    </div>
</fieldset>

<fieldset>
    <legend>File size for 1000 bytes</legend>
    <np-file-upload [(ngModel)]="fileUpload6" [size]="1000" #fileUpload6Control="ngModel"></np-file-upload>
    <div class="np-text-danger" *ngIf="fileUpload6Control.errors && fileUpload6Control.errors.size">
        File size exceeds.
    </div>
</fieldset>

<fieldset>
    <legend>Total file size 1000 bytes for multiple uploads</legend>
    <np-file-upload [(ngModel)]="fileUpload7" [multiple]="true" [totalSize]="1000" #fileUpload7Control="ngModel">
    </np-file-upload>
    <div class="np-text-danger" *ngIf="fileUpload7Control.errors && fileUpload7Control.errors.totalSize">
        Total File size exceeds.
    </div>
</fieldset>

<fieldset>
    <legend>Max 2 files allowed to select</legend>
    <np-file-upload [(ngModel)]="fileUpload8" [multiple]="true" [maxFiles]="2" #fileUpload8Control="ngModel">
    </np-file-upload>
    <div class="np-text-danger" *ngIf="fileUpload8Control.errors && fileUpload8Control.errors.maxFiles">
        Upto 2 files allowed to select.
    </div>
</fieldset>

<fieldset>
    <legend>Upload button label</legend>
    <np-file-upload [(ngModel)]="fileUpload9" [uploadButtonLabel]="'Upload your photo'">
    </np-file-upload>
</fieldset>

<fieldset>
    <legend>Accept only images</legend>
    <np-file-upload [(ngModel)]="fileUpload10" [accept]="'image/*'" [uploadButtonLabel]="'Upload your photo'">
    </np-file-upload>
</fieldset>

<fieldset>
    <legend>onChange event</legend>
    <np-file-upload [(ngModel)]="fileUpload11" (onChange)="onChange($event)">
    </np-file-upload>
</fieldset>