<div class="sub-header">
    Alert
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>HTML</b>
                <div>
                    <pre><code [innerText]="htmlText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>Type of alert like 'success' | 'danger' | 'info' | 'warning'</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>showCloseButton</td>
                        <td>Show close button</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>autoClose</td>
                        <td>Auto close alert message</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>autoCloseTimeout</td>
                        <td>Auto close timeout in ms</td>
                        <td>number</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>styleClass</td>
                        <td>Set extra class on component</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>inputId</td>
                        <td>Set id attribute</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Api</th>
                        <th>Description</th>
                        <th>Parameters</th>
                    </tr>
                    <tr>
                        <td>
                            close()
                        </td>
                        <td>
                            Close alert message
                        </td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <np-alert type="success" [showCloseButton]="true">
            Hi this is success alert message.
        </np-alert>

        <np-alert type="error" [showCloseButton]="true">
            Hi this is Danger alert message.
        </np-alert>

        <np-alert type="warning" [showCloseButton]="true">
            Hi this is Warning alert message.
        </np-alert>

        <np-alert type="info" [showCloseButton]="true" [autoClose]="true">
            Hi this is info alert message. Auto close after default timeout of 10000 ms.
        </np-alert>

        <np-alert [showCloseButton]="true" [autoClose]="true" [autoCloseTimeout]=5000>
            Hi this is custom alert message. Auto close after timeout of 50000 ms.
        </np-alert>
    </np-tab>
</np-tabs>