<header class="header">
  <a class="github-link" title="Go to github repository" target="_blank"
    href="https://github.com/NilavPatel/np-ui-package">
    <h1>np-ui-lib Ui components</h1>
  </a>
</header>
<div class="main-container">
  <div class="nav">
    <ul>
      <li><a routerLink="/np-ui-date-picker-demo" routerLinkActive="active">Date Picker</a></li>
      <li><a routerLink="/np-ui-time-picker-demo" routerLinkActive="active">Time Picker</a></li>
      <li><a routerLink="/np-ui-color-picker-demo" routerLinkActive="active">Color Picker</a></li>
      <li><a routerLink="/np-ui-data-grid-demo" routerLinkActive="active">Data Grid</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>