<header class="header">
    <h1>
        <a title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package">
            np-ui-lib ui components
        </a>
    </h1>
</header>
<div class="main-container">
    <div class="nav">
        <ul class="nav-menu">
            <li><a routerLink="/np-ui-date-picker-demo" routerLinkActive="active">Date Picker</a></li>
            <li><a routerLink="/np-ui-time-picker-demo" routerLinkActive="active">Time Picker</a></li>
            <li><a routerLink="/np-ui-color-picker-demo" routerLinkActive="active">Color Picker</a></li>
            <li><a routerLink="/np-ui-switch-demo" routerLinkActive="active">Switch</a></li>
            <li><a routerLink="/np-ui-dropdown-demo" routerLinkActive="active">Dropdown</a></li>
            <li><a routerLink="/np-ui-auto-complete-demo" routerLinkActive="active">Auto Complete</a></li>
            <li><a routerLink="/np-ui-tags-demo" routerLinkActive="active">Tags</a></li>
            <li><a routerLink="/np-ui-data-grid-demo" routerLinkActive="active">Data Grid</a></li>
            <li><a routerLink="/np-ui-panel-demo" routerLinkActive="active">Panel</a></li>
            <li><a routerLink="/np-ui-accordion-demo" routerLinkActive="active">Accordion</a></li>
            <li><a routerLink="/np-ui-tabs-demo" routerLinkActive="active">Tabs</a></li>
            <li><a routerLink="/np-ui-alert-demo" routerLinkActive="active">Alert</a></li>
            <li><a routerLink="/np-ui-notification-demo" routerLinkActive="active">Notifications</a></li>
            <li><a routerLink="/np-ui-tooltip-demo" routerLinkActive="active">Tooltip</a></li>
            <li><a routerLink="/np-ui-popover-demo" routerLinkActive="active">Popover</a></li>
            <li><a routerLink="/np-ui-progress-demo" routerLinkActive="active">Progress</a></li>
            <li><a routerLink="/np-ui-carousel-demo" routerLinkActive="active">Carousel</a></li>
            <li><a routerLink="/np-ui-modal-demo" routerLinkActive="active">Modal</a></li>
            <li><a routerLink="/np-ui-utility-demo" routerLinkActive="active">Other Utility</a></li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>