<h2> Toolbar , Column chooser, Export to CSV example</h2>


<p>To show tool bar in data grid, set <b>showToolBar</b> to "true" in grid defination</p>

<h2>For column chooser:</h2>
<p>
    To show show Column Chooser in tool bar, set <b>showColumnChooser</b> to "true".
    <br>
    Column chooser will help to show/hide columns in data grid.
</p>

<h2>For toggle filters:</h2>
<p>If any column has <b>filterEnable</b> set to "true", then toggle filter button will be visible in tool bar</p>

<h2>For Export to csv:</h2>
<p>To show export to CSV button in tool bar, set <b>allowExport</b> to "true"</p>
<p class="np-text-info">In export to CSV in client side, it will download file with all pages data</p>
<p class="np-text-info">
    In server side it will make an extra call to <b>onLoadData(option:LoadOptions)</b> method.
    <br>
    In this method's option parameter, <b>isAllPages</b> is passed as true, which needs to be pass in "next()" method of
    dataSource as "isAllPages = true".
</p>

<np-data-grid [columns]="gridColumns" [dataSource]="gridDataSource" [showToolBar]="true" [allowExport]="true"
    [showColumnChooser]="true">
</np-data-grid>