<div class="sub-header">
    Slider
</div>

<fieldset>
    <legend>Basic slider</legend>
    <np-slider [(ngModel)]="slider1"></np-slider>
    Value: {{slider1}}
</fieldset>

<fieldset>
    <legend>min and max</legend>
    <np-slider [(ngModel)]="slider2" [min]="50" [max]="150"></np-slider>
    Value: {{slider2}}
</fieldset>

<fieldset>
    <legend>Step</legend>
    <np-slider [(ngModel)]="slider3" [step]="5"></np-slider>
    Value: {{slider3}}
</fieldset>

<fieldset>
    <legend>required</legend>
    <np-slider [(ngModel)]="slider4" required></np-slider>
    Value: {{slider4}}
    <button class="np-btn" (click)="slider4 = null">Set null</button>
</fieldset>

<fieldset>
    <legend>disabled</legend>
    <np-slider [(ngModel)]="slider5" disabled></np-slider>
</fieldset>