<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Switch">
            np-ui-switch
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-switch-demo">
            Demo
        </a>
    </h2>
</div>

<div>
    <fieldset>
        <legend>1. Set value true</legend>
        <np-ui-switch [(ngModel)]="switch1"></np-ui-switch>
        <div>Selected Value : {{switch1}}</div>
        <button class="np-btn" (click)="switch1 = !switch1">Toggle Value</button>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>2. Set value false</legend>
        <np-ui-switch [(ngModel)]="switch2"></np-ui-switch>
        <div>Selected Value : {{switch2}}</div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>3. Disabled</legend>
        <np-ui-switch [(ngModel)]="switch3" disabled></np-ui-switch>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>4.1 Set display text value</legend>
        <np-ui-switch [(ngModel)]="switch41" [falseLabelText]="'No'" [trueLabelText]="'Yes'"></np-ui-switch>
        <div>Selected Value : {{switch41}}</div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>4.2 Set display text as HTML</legend>
        <np-ui-switch [(ngModel)]="switch42" [falseLabelText]="'<a>OFF</a>'" [trueLabelText]="'<a>ON</a>'">
        </np-ui-switch>
        <div>Selected Value : {{switch42}}</div>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>5. OnChange event</legend>
        <np-ui-switch [(ngModel)]="switch5" (onChange)="onChangeSwitch5($event)"></np-ui-switch>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>6. Set style class</legend>
        <np-ui-switch [(ngModel)]="switch6" [styleClass]="'myClass'"></np-ui-switch>
    </fieldset>
</div>

<div>
    <fieldset>
        <legend>7. Required</legend>
        <np-ui-switch [(ngModel)]="switch7" name="sw7" required></np-ui-switch>
    </fieldset>
</div>