/* To change data grid layout */

.grid-new-layout .color-red {
    color: #ff0000;
}

.grid-new-layout .np-dg-background,.grid-new-layout  .np-dg-header-row th {
    background-color: #80cbc4 !important;
}

.grid-new-layout .np-dg-body-row:hover td {
    background-color: #d0d1d1 !important;
}

.grid-new-layout .np-dg-row-selected td, .grid-new-layout  .np-dg-row-selected:hover td {
    background-color: #cdefff !important;
}

.grid-new-layout .np-dg-child-row td {
    background-color: #f0fffe !important;
}