<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Tree%20View">
            np-tree-view
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-tree-view-demo">
            Demo
        </a>
    </h2>
</div>

<fieldset>
    <legend>Treeview basic</legend>
    <np-tree-view [items]="items" #treeview (onClick)="onClick($event)" (onExpand)="onExpand($event)" (onCollapse)="onCollapse($event)" (onExpandAll)="onExpandAll($event)" (onCollapseAll)="onCollapseAll($event)">
    </np-tree-view>

    <div class="np-btn-group">
        <button class="np-btn" (click)="setAllExpand()">Expand All</button>
        <button class="np-btn" (click)="setAllCollapse()">Collapse All</button>
    </div>
</fieldset>

<fieldset>
    <legend>Treeview Selection</legend>
    <np-tree-view [items]="items2" [allowSelection]="true" #treeview2 (onSelect)="onSelect($event)" (onDeselect)="onDeselect($event)"></np-tree-view>

    <div class="np-btn-group">
        <button class="np-btn" (click)="getAllSelected()">Get all selected</button>
        <button class="np-btn" (click)="removeAllSelected()">Remove All selected</button>
    </div>
</fieldset>