<div class="sub-header">
    Tree View
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <b>Module to import</b>
            <div>
                <pre><code [innerText]="importText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <b>HTML</b>
            <div>
                <pre><code [innerText]="htmlText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>items</td>
                    <td>Array of data in hierarchical structure</td>
                    <td>NpTreeViewItem[]</td>
                    <td></td>
                </tr>
                <tr>
                    <td>selectionMode</td>
                    <td>Set selection mode as single or multiple</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>selection</td>
                    <td>Get/Set selected nodes</td>
                    <td>NpTreeViewItem[]</td>
                    <td></td>
                </tr>
                <tr>
                    <td>styleClass</td>
                    <td>Set extra class on component</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>inputId</td>
                    <td>Set id attribute</td>
                    <td>string</td>
                    <td></td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>
                        onClick(NpTreeViewItem : node)
                    </td>
                    <td>
                        Callback to click event on node
                    </td>
                    <td>NpTreeViewItem : node</td>
                </tr>
                <tr>
                    <td>
                        onExpand(NpTreeViewItem : node)
                    </td>
                    <td>
                        Callback when expanding node
                    </td>
                    <td>NpTreeViewItem : node</td>
                </tr>
                <tr>
                    <td>
                        onCollapse(NpTreeViewItem : node)
                    </td>
                    <td>
                        Callback when collapsing node
                    </td>
                    <td>NpTreeViewItem : node</td>
                </tr>
                <tr>
                    <td>
                        onExpandAll()
                    </td>
                    <td>
                        Callback when expanding all node
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        onCollapseAll()
                    </td>
                    <td>
                        Callback when collapsing all node
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        onSelect(NpTreeViewItem : node)
                    </td>
                    <td>
                        Callback when selecting node
                    </td>
                    <td>NpTreeViewItem : node</td>
                </tr>
                <tr>
                    <td>
                        onDeselect(NpTreeViewItem : node)
                    </td>
                    <td>
                        Callback when deselecting node
                    </td>
                    <td>NpTreeViewItem : node</td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Api</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>
                        expandAll()
                    </td>
                    <td>
                        Expand all nodes
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        collapseAll()
                    </td>
                    <td>
                        Collapse all nodes
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        selectAll()
                    </td>
                    <td>
                        Select all nodes
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        deselectAll()
                    </td>
                    <td>
                        Deselect all nodes
                    </td>
                    <td></td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <b>NpTreeViewItem</b>
            <pre><code>{{modelText}}</code></pre>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>label</td>
                    <td>Label to display</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>key</td>
                    <td>Unique key for object identification in selection</td>
                    <td>any</td>
                    <td></td>
                </tr>
                <tr>
                    <td>childItems</td>
                    <td>Child nodes</td>
                    <td>NpTreeViewItem[]</td>
                    <td></td>
                </tr>
                <tr>
                    <td>isExpanded</td>
                    <td>Set expanded on load time</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>data</td>
                    <td>Set data</td>
                    <td>any</td>
                    <td></td>
                </tr>
            </table>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <legend>Treeview basic</legend>
            <np-tree-view [items]="items" #treeview (onClick)="onClick($event)" (onExpand)="onExpand($event)"
                (onCollapse)="onCollapse($event)" (onExpandAll)="onExpandAll($event)"
                (onCollapseAll)="onCollapseAll($event)">
            </np-tree-view>

            <div class="np-btn-group">
                <button class="np-btn" (click)="setAllExpand()">Expand All</button>
                <button class="np-btn" (click)="setAllCollapse()">Collapse All</button>
            </div>
        </fieldset>

        <fieldset>
            <legend>Treeview single selection</legend>
            <np-tree-view [items]="items2" #treeview2 [(selection)]="selection2" [selectionMode]="'single'"
                (onSelect)="onSelect($event)" (onDeselect)="onDeselect($event)">
            </np-tree-view>
            <div>Selected value : {{selection2 | json}}</div>
        </fieldset>

        <fieldset>
            <legend>Treeview multiple selection</legend>
            <np-tree-view [items]="items3" #treeview3 [(selection)]="selection3" [selectionMode]="'multiple'">
            </np-tree-view>
            <div>Selected value : {{selection3 | json}}</div>
            <div class="np-btn-group">
                <button class="np-btn" (click)="selectAll()">Select All</button>
                <button class="np-btn" (click)="deselectAll()">Deselect All</button>
            </div>
        </fieldset>
    </np-tab>
</np-tabs>