<h2>
    <a class="github-link" title="Go to github repository" target="_blank"
        href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-data-grid-demo/master-detail-grid">
        Master-Detail Example
    </a>
</h2>
<p>To set Master Detail tables in data grid, create <b>&lt;ng-template&gt;</b> in HTML file and set it in
    <b>masterDetailTemplate</b> in grid defination.</p>

<h4>singleRowExpand</h4>
<p>To set single row expand mode set <b>singleRowExpand</b> to "true" in grid defination.</p>
<p>Check here, singleRowExpand <input type="checkbox" (change)="singleRowExpand = $event.target.checked"> </p>

<h4>expandRowOnClick</h4>
<p>To expand/collaps details row on row click set <b>expandRowOnClick</b> to "true" in grid definations.</p>

<np-ui-data-grid [columns]="gridColumns" [dataSource]="gridDataSource" [masterDetailTemplate]="masterDetailTemplate"
    [singleRowExpand]="singleRowExpand" [expandRowOnClick]="true">
</np-ui-data-grid>

<!-- Template for child section -->
<ng-template #masterDetailTemplate let-row="row">
    <span><b>Name:</b>{{row.FirstName}} {{row.LastName}}</span>
    <br>
    <span><b>Age:</b>{{row.Age}} years</span>
    <br>
    <span><b>Birth Date:</b>{{row.BirthDate | date:'dd/MM/yyyy'}}</span>
</ng-template>