@import "~@angular/cdk/overlay-prebuilt.css";
button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

.np-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.np-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.np-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.np-col-auto {
    flex: 0 0 auto;
    width: auto;
}

.np-col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.np-col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.np-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.np-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.np-col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.np-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.np-col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.np-col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.np-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.np-col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.np-col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.np-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.np-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.np-no-gutters>.np-col {
    padding-right: 0;
    padding-left: 0;
}

.justify-content-start {
    justify-content: flex-start!important;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.justify-content-around {
    justify-content: space-around!important;
}

.align-items-start {
    align-items: flex-start!important;
}

.align-items-end {
    align-items: flex-end!important;
}

.align-items-center {
    align-items: center!important;
}

.align-items-baseline {
    align-items: baseline!important;
}

.align-items-stretch {
    align-items: stretch!important;
}

.align-content-start {
    align-content: flex-start!important;
}

.align-content-end {
    align-content: flex-end!important;
}

.align-content-center {
    align-content: center!important;
}

.align-content-between {
    align-content: space-between!important;
}

.align-content-around {
    align-content: space-around!important;
}

.align-content-stretch {
    align-content: stretch!important;
}

.align-self-auto {
    align-self: auto!important;
}

.align-self-start {
    align-self: flex-start!important;
}

.align-self-end {
    align-self: flex-end!important;
}

.align-self-center {
    align-self: center!important;
}

.align-self-baseline {
    align-self: baseline!important;
}

.align-self-stretch {
    align-self: stretch!important;
}

.np-form-control {
    display: block;
    padding: 0px 5px;
    margin: 0px;
    color: #495057;
    background-color: #ffffff;
    height: 32px;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 100%;
}

.np-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.input-group-prepend,
.input-group-append {
    display: flex;
}

.np-input-group>.np-form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-color: transparent;
    height: 30px;
}

.np-input-group .np-btn {
    height: 30px;
    min-width: 30px;
    padding: 2px;
}

.np-btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0px 5px;
    transition: all .2s ease-in-out;
    display: flex;
    background-color: #dfdfdf;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 5px 0px;
    min-width: 50px;
    height: 32px;
}

.np-btn-icon {
    margin: 0px;
    padding: 3px;
    border-color: transparent;
    background-color: transparent;
    min-width: 32px
}

.np-btn-sm {
    padding: 0px 5px;
    height: 20px;
}

.np-btn-block {
    display: block;
    width: 100%
}

.np-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.np-btn-success {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.np-btn-danger {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.np-btn-warning {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
}

.np-btn-info {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.np-btn-group {
    margin: 5px 0px;
}

.np-btn-group .np-btn {
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.np-btn-group .np-btn:last-child {
    margin-right: 0px;
}

.np-border-0 {
    border: 0!important;
}

.np-border-top-0 {
    border-top: 0!important;
}

.np-border-right-0 {
    border-right: 0!important;
}

.np-border-bottom-0 {
    border-bottom: 0!important;
}

.np-border-left-0 {
    border-left: 0!important;
}

.np-border {
    border: 1px solid black;
}

.np-border-top {
    border-top: 1px solid black;
}

.np-border-bottom {
    border-bottom: 1px solid black;
}

.np-border-right {
    border-right: 1px solid black;
}

.np-border-left {
    border-left: 1px solid black;
}

.np-clearfix::after {
    display: block;
    content: "";
    clear: both
}

.np-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.np-pad-b-5 {
    padding-bottom: 5px;
}

.np-text-bold {
    font-weight: bold;
}

.np-alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d
}

.np-alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f
}

.np-alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b
}

.np-alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442
}

.np-alert {
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
}

.np-alert-header {
    font-weight: bold;
}

.np-float-left {
    float: left !important;
}

.np-float-right {
    float: right !important;
}

.np-float-none {
    float: none !important;
}

.np-text-right {
    text-align: right;
}

.np-pl-5 {
    padding-left: 5px !important;
}

.np-pr-5 {
    padding-right: 5px !important;
}

.np-badge {
    background-color: #ffffff;
    text-align: center;
    padding: 2px 3px;
    border-radius: 5px;
    position: relative;
    margin: 0px 5px;
    color: #000000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}