@import "~@angular/cdk/overlay-prebuilt.css";
button,
input,
optgroup,
select,
textarea {
    margin: 0;
}

textarea {
    resize: vertical
}

* {
    box-sizing: border-box;
}

svg {
    fill: currentColor;
}

.np-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.np-icon-sm {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 3px;
}

.np-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.np-col,
.np-col-1,
.np-col-10,
.np-col-11,
.np-col-12,
.np-col-2,
.np-col-3,
.np-col-4,
.np-col-5,
.np-col-6,
.np-col-7,
.np-col-8,
.np-col-9,
.np-col-lg,
.np-col-lg-1,
.np-col-lg-10,
.np-col-lg-11,
.np-col-lg-12,
.np-col-lg-2,
.np-col-lg-3,
.np-col-lg-4,
.np-col-lg-5,
.np-col-lg-6,
.np-col-lg-7,
.np-col-lg-8,
.np-col-lg-9,
.np-col-md,
.np-col-md-1,
.np-col-md-10,
.np-col-md-11,
.np-col-md-12,
.np-col-md-2,
.np-col-md-3,
.np-col-md-4,
.np-col-md-5,
.np-col-md-6,
.np-col-md-7,
.np-col-md-8,
.np-col-md-9,
.np-col-sm,
.np-col-sm-1,
.np-col-sm-10,
.np-col-sm-11,
.np-col-sm-12,
.np-col-sm-2,
.np-col-sm-3,
.np-col-sm-4,
.np-col-sm-5,
.np-col-sm-6,
.np-col-sm-7,
.np-col-sm-8,
.np-col-sm-9,
.np-col-xl,
.np-col-xl-1,
.np-col-xl-10,
.np-col-xl-11,
.np-col-xl-12,
.np-col-xl-2,
.np-col-xl-3,
.np-col-xl-4,
.np-col-xl-5,
.np-col-xl-6,
.np-col-xl-7,
.np-col-xl-8,
.np-col-xl-9 {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

@media (min-width:576px) {
    .np-col,
    .np-col-1,
    .np-col-10,
    .np-col-11,
    .np-col-12,
    .np-col-2,
    .np-col-3,
    .np-col-4,
    .np-col-5,
    .np-col-6,
    .np-col-7,
    .np-col-8,
    .np-col-9,
    .np-col-lg,
    .np-col-lg-1,
    .np-col-lg-10,
    .np-col-lg-11,
    .np-col-lg-12,
    .np-col-lg-2,
    .np-col-lg-3,
    .np-col-lg-4,
    .np-col-lg-5,
    .np-col-lg-6,
    .np-col-lg-7,
    .np-col-lg-8,
    .np-col-lg-9,
    .np-col-md,
    .np-col-md-1,
    .np-col-md-10,
    .np-col-md-11,
    .np-col-md-12,
    .np-col-md-2,
    .np-col-md-3,
    .np-col-md-4,
    .np-col-md-5,
    .np-col-md-6,
    .np-col-md-7,
    .np-col-md-8,
    .np-col-md-9,
    .np-col-sm,
    .np-col-sm-1,
    .np-col-sm-10,
    .np-col-sm-11,
    .np-col-sm-12,
    .np-col-sm-2,
    .np-col-sm-3,
    .np-col-sm-4,
    .np-col-sm-5,
    .np-col-sm-6,
    .np-col-sm-7,
    .np-col-sm-8,
    .np-col-sm-9,
    .np-col-xl,
    .np-col-xl-1,
    .np-col-xl-10,
    .np-col-xl-11,
    .np-col-xl-12,
    .np-col-xl-2,
    .np-col-xl-3,
    .np-col-xl-4,
    .np-col-xl-5,
    .np-col-xl-6,
    .np-col-xl-7,
    .np-col-xl-8,
    .np-col-xl-9 {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width:768px) {
    .np-col,
    .np-col-1,
    .np-col-10,
    .np-col-11,
    .np-col-12,
    .np-col-2,
    .np-col-3,
    .np-col-4,
    .np-col-5,
    .np-col-6,
    .np-col-7,
    .np-col-8,
    .np-col-9,
    .np-col-lg,
    .np-col-lg-1,
    .np-col-lg-10,
    .np-col-lg-11,
    .np-col-lg-12,
    .np-col-lg-2,
    .np-col-lg-3,
    .np-col-lg-4,
    .np-col-lg-5,
    .np-col-lg-6,
    .np-col-lg-7,
    .np-col-lg-8,
    .np-col-lg-9,
    .np-col-md,
    .np-col-md-1,
    .np-col-md-10,
    .np-col-md-11,
    .np-col-md-12,
    .np-col-md-2,
    .np-col-md-3,
    .np-col-md-4,
    .np-col-md-5,
    .np-col-md-6,
    .np-col-md-7,
    .np-col-md-8,
    .np-col-md-9,
    .np-col-sm,
    .np-col-sm-1,
    .np-col-sm-10,
    .np-col-sm-11,
    .np-col-sm-12,
    .np-col-sm-2,
    .np-col-sm-3,
    .np-col-sm-4,
    .np-col-sm-5,
    .np-col-sm-6,
    .np-col-sm-7,
    .np-col-sm-8,
    .np-col-sm-9,
    .np-col-xl,
    .np-col-xl-1,
    .np-col-xl-10,
    .np-col-xl-11,
    .np-col-xl-12,
    .np-col-xl-2,
    .np-col-xl-3,
    .np-col-xl-4,
    .np-col-xl-5,
    .np-col-xl-6,
    .np-col-xl-7,
    .np-col-xl-8,
    .np-col-xl-9 {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width:992px) {
    .np-col,
    .np-col-1,
    .np-col-10,
    .np-col-11,
    .np-col-12,
    .np-col-2,
    .np-col-3,
    .np-col-4,
    .np-col-5,
    .np-col-6,
    .np-col-7,
    .np-col-8,
    .np-col-9,
    .np-col-lg,
    .np-col-lg-1,
    .np-col-lg-10,
    .np-col-lg-11,
    .np-col-lg-12,
    .np-col-lg-2,
    .np-col-lg-3,
    .np-col-lg-4,
    .np-col-lg-5,
    .np-col-lg-6,
    .np-col-lg-7,
    .np-col-lg-8,
    .np-col-lg-9,
    .np-col-md,
    .np-col-md-1,
    .np-col-md-10,
    .np-col-md-11,
    .np-col-md-12,
    .np-col-md-2,
    .np-col-md-3,
    .np-col-md-4,
    .np-col-md-5,
    .np-col-md-6,
    .np-col-md-7,
    .np-col-md-8,
    .np-col-md-9,
    .np-col-sm,
    .np-col-sm-1,
    .np-col-sm-10,
    .np-col-sm-11,
    .np-col-sm-12,
    .np-col-sm-2,
    .np-col-sm-3,
    .np-col-sm-4,
    .np-col-sm-5,
    .np-col-sm-6,
    .np-col-sm-7,
    .np-col-sm-8,
    .np-col-sm-9,
    .np-col-xl,
    .np-col-xl-1,
    .np-col-xl-10,
    .np-col-xl-11,
    .np-col-xl-12,
    .np-col-xl-2,
    .np-col-xl-3,
    .np-col-xl-4,
    .np-col-xl-5,
    .np-col-xl-6,
    .np-col-xl-7,
    .np-col-xl-8,
    .np-col-xl-9 {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width:1200px) {
    .np-col,
    .np-col-1,
    .np-col-10,
    .np-col-11,
    .np-col-12,
    .np-col-2,
    .np-col-3,
    .np-col-4,
    .np-col-5,
    .np-col-6,
    .np-col-7,
    .np-col-8,
    .np-col-9,
    .np-col-lg,
    .np-col-lg-1,
    .np-col-lg-10,
    .np-col-lg-11,
    .np-col-lg-12,
    .np-col-lg-2,
    .np-col-lg-3,
    .np-col-lg-4,
    .np-col-lg-5,
    .np-col-lg-6,
    .np-col-lg-7,
    .np-col-lg-8,
    .np-col-lg-9,
    .np-col-md,
    .np-col-md-1,
    .np-col-md-10,
    .np-col-md-11,
    .np-col-md-12,
    .np-col-md-2,
    .np-col-md-3,
    .np-col-md-4,
    .np-col-md-5,
    .np-col-md-6,
    .np-col-md-7,
    .np-col-md-8,
    .np-col-md-9,
    .np-col-sm,
    .np-col-sm-1,
    .np-col-sm-10,
    .np-col-sm-11,
    .np-col-sm-12,
    .np-col-sm-2,
    .np-col-sm-3,
    .np-col-sm-4,
    .np-col-sm-5,
    .np-col-sm-6,
    .np-col-sm-7,
    .np-col-sm-8,
    .np-col-sm-9,
    .np-col-xl,
    .np-col-xl-1,
    .np-col-xl-10,
    .np-col-xl-11,
    .np-col-xl-12,
    .np-col-xl-2,
    .np-col-xl-3,
    .np-col-xl-4,
    .np-col-xl-5,
    .np-col-xl-6,
    .np-col-xl-7,
    .np-col-xl-8,
    .np-col-xl-9 {
        padding-right: 15px;
        padding-left: 15px
    }
}

.np-col-auto {
    flex: 0 0 auto;
    width: auto;
}

.np-col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.np-col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.np-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.np-col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.np-col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.np-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.np-col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.np-col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.np-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.np-col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.np-col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.np-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.np-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.np-no-gutters>.np-col,
.np-no-gutters>[class*=np-col-] {
    padding-right: 0;
    padding-left: 0;
}

.np-offset-1 {
    margin-left: 8.333333%
}

.np-offset-2 {
    margin-left: 16.666667%
}

.np-offset-3 {
    margin-left: 25%
}

.np-offset-4 {
    margin-left: 33.333333%
}

.np-offset-5 {
    margin-left: 41.666667%
}

.np-offset-6 {
    margin-left: 50%
}

.np-offset-7 {
    margin-left: 58.333333%
}

.np-offset-8 {
    margin-left: 66.666667%
}

.np-offset-9 {
    margin-left: 75%
}

.np-offset-10 {
    margin-left: 83.333333%
}

.np-offset-11 {
    margin-left: 91.666667%
}

@media (min-width:576px) {
    .np-col-sm {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .np-col-sm-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .np-col-sm-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .np-col-sm-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .np-col-sm-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .np-col-sm-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .np-col-sm-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .np-col-sm-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .np-col-sm-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .np-col-sm-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .np-col-sm-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .np-col-sm-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .np-col-sm-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .np-col-sm-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .np-offset-sm-0 {
        margin-left: 0
    }
    .np-offset-sm-1 {
        margin-left: 8.333333%
    }
    .np-offset-sm-2 {
        margin-left: 16.666667%
    }
    .np-offset-sm-3 {
        margin-left: 25%
    }
    .np-offset-sm-4 {
        margin-left: 33.333333%
    }
    .np-offset-sm-5 {
        margin-left: 41.666667%
    }
    .np-offset-sm-6 {
        margin-left: 50%
    }
    .np-offset-sm-7 {
        margin-left: 58.333333%
    }
    .np-offset-sm-8 {
        margin-left: 66.666667%
    }
    .np-offset-sm-9 {
        margin-left: 75%
    }
    .np-offset-sm-10 {
        margin-left: 83.333333%
    }
    .np-offset-sm-11 {
        margin-left: 91.666667%
    }
}

@media (min-width:768px) {
    .np-col-md {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .np-col-md-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .np-col-md-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .np-col-md-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .np-col-md-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .np-col-md-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .np-col-md-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .np-col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .np-col-md-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .np-col-md-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .np-col-md-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .np-col-md-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .np-col-md-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .np-col-md-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .np-offset-md-0 {
        margin-left: 0
    }
    .np-offset-md-1 {
        margin-left: 8.333333%
    }
    .np-offset-md-2 {
        margin-left: 16.666667%
    }
    .np-offset-md-3 {
        margin-left: 25%
    }
    .np-offset-md-4 {
        margin-left: 33.333333%
    }
    .np-offset-md-5 {
        margin-left: 41.666667%
    }
    .np-offset-md-6 {
        margin-left: 50%
    }
    .np-offset-md-7 {
        margin-left: 58.333333%
    }
    .np-offset-md-8 {
        margin-left: 66.666667%
    }
    .np-offset-md-9 {
        margin-left: 75%
    }
    .np-offset-md-10 {
        margin-left: 83.333333%
    }
    .np-offset-md-11 {
        margin-left: 91.666667%
    }
}

@media (min-width:992px) {
    .np-col-lg {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .np-col-lg-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .np-col-lg-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .np-col-lg-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .np-col-lg-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .np-col-lg-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .np-col-lg-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .np-col-lg-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .np-col-lg-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .np-col-lg-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .np-col-lg-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .np-col-lg-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .np-col-lg-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .np-col-lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .np-offset-lg-0 {
        margin-left: 0
    }
    .np-offset-lg-1 {
        margin-left: 8.333333%
    }
    .np-offset-lg-2 {
        margin-left: 16.666667%
    }
    .np-offset-lg-3 {
        margin-left: 25%
    }
    .np-offset-lg-4 {
        margin-left: 33.333333%
    }
    .np-offset-lg-5 {
        margin-left: 41.666667%
    }
    .np-offset-lg-6 {
        margin-left: 50%
    }
    .np-offset-lg-7 {
        margin-left: 58.333333%
    }
    .np-offset-lg-8 {
        margin-left: 66.666667%
    }
    .np-offset-lg-9 {
        margin-left: 75%
    }
    .np-offset-lg-10 {
        margin-left: 83.333333%
    }
    .np-offset-lg-11 {
        margin-left: 91.666667%
    }
}

@media (min-width:1200px) {
    .np-col-xl {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .np-col-xl-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto
    }
    .np-col-xl-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .np-col-xl-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .np-col-xl-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .np-col-xl-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .np-col-xl-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .np-col-xl-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .np-col-xl-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .np-col-xl-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .np-col-xl-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .np-col-xl-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .np-col-xl-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .np-col-xl-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .np-offset-xl-0 {
        margin-left: 0
    }
    .np-offset-xl-1 {
        margin-left: 8.333333%
    }
    .np-offset-xl-2 {
        margin-left: 16.666667%
    }
    .np-offset-xl-3 {
        margin-left: 25%
    }
    .np-offset-xl-4 {
        margin-left: 33.333333%
    }
    .np-offset-xl-5 {
        margin-left: 41.666667%
    }
    .np-offset-xl-6 {
        margin-left: 50%
    }
    .np-offset-xl-7 {
        margin-left: 58.333333%
    }
    .np-offset-xl-8 {
        margin-left: 66.666667%
    }
    .np-offset-xl-9 {
        margin-left: 75%
    }
    .np-offset-xl-10 {
        margin-left: 83.333333%
    }
    .np-offset-xl-11 {
        margin-left: 91.666667%
    }
}

.justify-content-start {
    justify-content: flex-start!important;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.justify-content-around {
    justify-content: space-around!important;
}

.align-items-start {
    align-items: flex-start!important;
}

.align-items-end {
    align-items: flex-end!important;
}

.align-items-center {
    align-items: center!important;
}

.align-items-baseline {
    align-items: baseline!important;
}

.align-items-stretch {
    align-items: stretch!important;
}

.align-content-start {
    align-content: flex-start!important;
}

.align-content-end {
    align-content: flex-end!important;
}

.align-content-center {
    align-content: center!important;
}

.align-content-between {
    align-content: space-between!important;
}

.align-content-around {
    align-content: space-around!important;
}

.align-content-stretch {
    align-content: stretch!important;
}

.align-self-auto {
    align-self: auto!important;
}

.align-self-start {
    align-self: flex-start!important;
}

.align-self-end {
    align-self: flex-end!important;
}

.align-self-center {
    align-self: center!important;
}

.align-self-baseline {
    align-self: baseline!important;
}

.align-self-stretch {
    align-self: stretch!important;
}

.np-form-control {
    display: block;
    padding: 5px;
    margin: 0px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    width: 100%;
    min-height: 32px;
    outline: none;
}

@media (max-width:767px) {
    .np-hidden-sm {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .np-hidden-md {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .np-hidden-lg {
        display: none!important
    }
}

@media (min-width:1200px) {
    .np-hidden-xl {
        display: none!important
    }
}

.np-hidden {
    display: none!important
}

.np-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    background-color: #ffffff;
}

.input-group-prepend,
.input-group-append {
    display: flex;
}

.np-input-group>.np-form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-color: transparent;
    min-height: 30px;
    outline: none;
}

.np-btn {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    outline: none;
    padding: 3px 10px;
    transition: all .2s ease-in-out;
    background-color: #f1f1f1;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    margin: 5px 0px;
    min-width: 50px;
    height: 32px;
    cursor: pointer;
}

.np-btn:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.np-btn:hover {
    background-color: #ddd;
}

.np-btn-icon {
    margin: 0px;
    padding: 3px;
    border-color: transparent;
    background-color: transparent;
    min-width: 32px;
}

.np-btn-sm {
    padding: 0px 5px;
    height: 20px;
}

.np-btn-block {
    display: block;
    width: 100%
}

.np-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #0275d8
}

.np-btn-success {
    color: #fff;
    background-color: #1e7e34;
    border-color: #5cb85c
}

.np-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f
}

.np-btn-warning {
    color: #fff;
    background-color: #d39e00;
    border-color: #f0ad4e
}

.np-btn-info {
    color: #fff;
    background-color: #117a8b;
    border-color: #5bc0de
}

.np-btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
}

.np-btn-success:hover {
    background-color: #449d44;
}

.np-btn-danger:hover {
    background-color: #c9302c;
}

.np-btn-warning:hover {
    background-color: #ec971f;
}

.np-btn-info:hover {
    background-color: #31b0d5;
}

.np-btn-group {
    margin: 5px 0px;
}

.np-btn-group .np-btn {
    display: inline-block;
    margin: 0px 5px 0px 0px;
}

.np-btn-group .np-btn:last-child {
    margin-right: 0px;
}

.np-input-group .np-btn {
    height: 30px;
    min-width: 30px;
    padding: 2px;
}

.np-border-0 {
    border: 0!important;
}

.np-border-top-0 {
    border-top: 0!important;
}

.np-border-right-0 {
    border-right: 0!important;
}

.np-border-bottom-0 {
    border-bottom: 0!important;
}

.np-border-left-0 {
    border-left: 0!important;
}

.np-border {
    border: 1px solid #c8c8c8;
    border-radius: 2px;
}

.np-border-top {
    border-top: 1px solid #c8c8c8;
}

.np-border-bottom {
    border-bottom: 1px solid #c8c8c8;
}

.np-border-right {
    border-right: 1px solid #c8c8c8;
}

.np-border-left {
    border-left: 1px solid #c8c8c8;
}

.np-clearfix::after {
    display: block;
    content: "";
    clear: both
}

.np-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.np-pad-b-5 {
    padding-bottom: 5px;
}

.np-text-bold {
    font-weight: bold;
}

.np-alert {
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    border-left: 5px solid #c8c8c8;
    background-color: #ffffff;
    padding-right: 32px;
}

.np-alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d
}

.np-alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f
}

.np-alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b
}

.np-alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442
}

.np-alert-success .np-btn:hover {
    background-color: #d0e9c6;
}

.np-alert-danger .np-btn:hover {
    background-color: #ebcccc;
}

.np-alert-warning .np-btn:hover {
    background-color: #faf2cc;
}

.np-alert-info .np-btn:hover {
    background-color: #bcdff1;
}

.np-alert-header {
    font-weight: bold;
}

.np-alert-close {
    position: absolute;
    right: 0px;
    top: 0px;
}

.np-alert-icons .np-icon {
    margin-right: 5px;
}

.np-float-left {
    float: left !important;
}

.np-float-right {
    float: right !important;
}

.np-float-none {
    float: none !important;
}

.np-text-right {
    text-align: right;
}

.np-pl-5 {
    padding-left: 5px !important;
}

.np-pr-5 {
    padding-right: 5px !important;
}

.np-badge {
    background-color: #ffffff;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
    position: relative;
    margin: 0px 5px;
    color: #000000;
}

.np-container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.np-form-group {
    margin-bottom: 12px;
}

.np-form-label {
    margin-bottom: 5px;
}

.np-form-text {
    margin-top: 5px;
}

.np-text-success {
    color: #5cb85c;
}

.np-text-danger {
    color: #d9534f;
}

.np-text-warning {
    color: #f0ad4e;
}

.np-text-info {
    color: #31708f;
}

.np-required:after {
    content: " *";
    color: #d9534f;
}

.np-hightlight {
    font-weight: bold;
}

.np-overflow-auto {
    overflow: auto;
}

.np-loader-target {
    position: relative;
    pointer-events: none;
}

.np-loader-background {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.np-loader {
    width: 32px;
    height: 32px;
    border: 5px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    color: #007bff!important;
    animation: spin 0.5s linear infinite;
    z-index: 2001;
}

.np-cursor-pointer {
    cursor: pointer;
}

.np-pad-5 {
    padding: 5px;
}

.np-form-control.ng-touched.ng-invalid,
.ng-touched.ng-invalid:not(form) .np-sw-component,
.ng-touched.ng-invalid:not(form) .np-tp-default-open,
.ng-touched.ng-invalid:not(form) .np-dp-default-open,
.ng-touched.ng-invalid:not(form) .np-cp-default-open,
.ng-touched.ng-invalid:not(form) .np-input-group,
.np-form-control.ng-dirty.ng-invalid,
.ng-dirty.ng-invalid:not(form) .np-sw-component,
.ng-dirty.ng-invalid:not(form) .np-tp-default-open,
.ng-dirty.ng-invalid:not(form) .np-dp-default-open,
.ng-dirty.ng-invalid:not(form) .np-cp-default-open,
.ng-dirty.ng-invalid:not(form) .np-fu-component,
.ng-dirty.ng-invalid:not(form) .np-sl-input,
.ng-dirty.ng-invalid:not(form) .np-input-group {
    border-color: #d9534f !important;
}

.ng-touched.ng-invalid:not(form) .np-input-group .np-icon-sm {
    color: #d9534f;
}

.ng-responsive-img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.np-table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #dfdfdf;
    border-spacing: 0px;
    margin-bottom: 5px;
}

.np-table td,
.np-table th {
    padding: 0px 5px;
    vertical-align: top;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    line-height: 32px;
}

.np-table tr td:last-child,
.np-table tr th:last-child {
    border-right: none;
}

.np-table tr:last-child td {
    border-bottom: none;
}

.np-table th {
    background-color: #f1f1f1;
}

.np-jumbotron {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}