<h2 class="page-header">Form</h2>

<np-card>
  <np-card-body>
    <div>
      <pre><code [innerText]="formText"></code></pre>
    </div>

    <fieldset>
      <legend>Template-Driven Form</legend>
      <form #templateForm="ngForm">
        <div class="np-container">
          <div class="np-row">
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">First name:</div>
                <np-input-text
                  [(ngModel)]="firstName"
                  required
                  #txtFirstName="ngModel"
                  name="txtFirstName"
                  [tabIndex]="1"
                  [autoFocus]="true"
                  [suffixLabel]="'<i class=\'fa fa-user\'></i>'"
                ></np-input-text>
                <div
                  class="np-form-text np-text-danger"
                  *ngIf="
                    txtFirstName.control.touched &&
                    txtFirstName.control.errors?.required
                  "
                >
                  First name is required.
                </div>
              </div>
            </div>
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Last name:</div>
                <np-input-text
                  [(ngModel)]="lastName"
                  required
                  #txtLastName="ngModel"
                  name="txtLastName"
                  [suffixLabel]="'<i class=\'fa fa-user\'></i>'"
                  [tabIndex]="2"
                ></np-input-text>
                <div
                  class="np-form-text np-text-danger"
                  *ngIf="
                    txtLastName.control.touched &&
                    txtLastName.control.errors?.required
                  "
                >
                  Last name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="np-row">
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Birth date:</div>
                <np-date-picker
                  [(ngModel)]="birthDate"
                  name="txtBirthDate"
                  required
                  #txtBirthDate="ngModel"
                  [tabIndex]="3"
                >
                </np-date-picker>
                <div
                  class="np-form-text np-text-danger"
                  *ngIf="
                    txtBirthDate.control.touched &&
                    txtBirthDate.control.errors?.required
                  "
                >
                  Birth date is required.
                </div>
              </div>
            </div>
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Birth time:</div>
                <np-time-picker
                  [(ngModel)]="birthTime"
                  name="birthTime"
                  [required]="true"
                  #txtbirthTime="ngModel"
                  [tabIndex]="4"
                ></np-time-picker>
                <div
                  class="np-form-text np-text-danger"
                  *ngIf="
                    txtbirthTime.control.touched &&
                    txtbirthTime.control.errors?.required
                  "
                >
                  Birth time is required.
                </div>
              </div>
            </div>
          </div>
          <div class="np-row">
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Is Active:</div>
                <np-switch
                  [(ngModel)]="isActive"
                  name="swIsActive"
                  [required]="true"
                  [tabIndex]="5"
                >
                </np-switch>
              </div>
            </div>
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Upload Photo:</div>
                <np-file-upload
                  [(ngModel)]="photo"
                  name="photo"
                  [required]="true"
                  #fpPhoto="ngModel"
                  [tabIndex]="6"
                >
                </np-file-upload>
                <div
                  class="np-form-text np-text-danger"
                  *ngIf="
                    fpPhoto.control.touched && fpPhoto.control.errors?.required
                  "
                >
                  Photo is required.
                </div>
              </div>
            </div>
          </div>
          <div class="np-row">
            <div class="np-col-12">
              <div class="np-form-group">
                <div class="np-form-label">Description:</div>
                <np-textarea
                  [rows]="4"
                  [cols]="50"
                  [(ngModel)]="description"
                  [tabIndex]="7"
                  name="description"
                  [required]="true"
                  #txtDescription="ngModel"
                ></np-textarea>
                <div
                  class="np-form-text np-text-danger"
                  *ngIf="
                    txtDescription.control.touched &&
                    txtDescription.control.errors?.required
                  "
                >
                  Description is required.
                </div>
              </div>
            </div>
          </div>
          <div class="np-btn-group">
            <button
              type="submit"
              class="np-btn np-btn-primary"
              [disabled]="templateForm.invalid"
              (click)="templateForm.resetForm({})"
            >
              Save
            </button>
            <button
              type="button"
              class="np-btn"
              (click)="templateForm.resetForm({})"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </fieldset>

    <fieldset>
      <legend>Reactive Form</legend>
      <form [formGroup]="myForm">
        <div class="np-container">
          <div class="np-row">
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">First name:</div>
                <np-input-text
                  formControlName="firstName"
                  name="txtFirstNameR"
                  [suffixLabel]="'<i class=\'fa fa-user\'></i>'"
                ></np-input-text>
              </div>
            </div>
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Last name:</div>
                <np-input-text
                  formControlName="lastName"
                  name="txtLastNameR"
                  [suffixLabel]="'<i class=\'fa fa-user\'></i>'"
                ></np-input-text>
              </div>
            </div>
          </div>
          <div class="np-row">
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Birth date:</div>
                <np-date-picker
                  formControlName="birthDate"
                  name="txtBirthDateR"
                >
                </np-date-picker>
              </div>
            </div>
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Birth time:</div>
                <np-time-picker
                  formControlName="birthTime"
                  name="txtBirthTimeR"
                >
                </np-time-picker>
              </div>
            </div>
          </div>
          <div class="np-row">
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Is Active:</div>
                <np-switch formControlName="isActive" name="swIsActiveR">
                </np-switch>
              </div>
            </div>
            <div class="np-col-6">
              <div class="np-form-group">
                <div class="np-form-label np-required">Upload Photo:</div>
                <np-file-upload formControlName="photo" name="photoR">
                </np-file-upload>
              </div>
            </div>
          </div>
          <div class="np-row">
            <div class="np-col-12">
              <div class="np-form-group">
                <div class="np-form-label np-required">Description:</div>
                <np-textarea
                  formControlName="description"
                  name="txtDescriptionR"
                  [rows]="4"
                  [cols]="50"
                ></np-textarea>
              </div>
            </div>
          </div>
          <div class="np-btn-group">
            <button
              type="submit"
              class="np-btn np-btn-primary"
              [disabled]="myForm.invalid"
              (click)="myForm.reset({})"
            >
              Save
            </button>
            <button type="button" class="np-btn" (click)="myForm.reset({})">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </fieldset>
  </np-card-body>
</np-card>
