<h2 class="page-header">Filters example</h2>
<p>
  To add filters in data grid set <b>filterEnable</b> to "true" in column
  definitions.
</p>
<p>
  Show filters:
  <np-switch [(ngModel)]="showFilters"></np-switch>
</p>

<h3>Client Side Filtering</h3>
<np-data-grid
  [columns]="gridColumns"
  [dataSource]="gridDataSource"
  [showFilters]="showFilters"
>
</np-data-grid>

<h3>Server Side Filtering</h3>
<np-alert type="info">
  Options:<code>{{ currentLoadOptions | json }}</code>
</np-alert>
<np-data-grid
  [columns]="gridColumns"
  [dataSource]="serverGridDataSource"
  [isServerOperations]="true"
  (onLoadData)="onLoadDataServerGrid($event)"
  [showFilters]="showFilters"
>
</np-data-grid>
