<div class="sub-header">
    Color Picker
</div>

<np-tabs>
    <np-tab title="Documentation" id="tabDocumentation">
        <np-card>
            <np-card-body>
                <b>Module to import</b>
                <div>
                    <pre><code [innerText]="importText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <b>HTML</b>
                <div>
                    <pre><code [innerText]="htmlText"></code></pre>
                </div>
            </np-card-body>
        </np-card>
        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Property</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td>ngModel</td>
                        <td>Value</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>disabled</td>
                        <td>Set disabled</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>readonly</td>
                        <td>Set readonly</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>required</td>
                        <td>Set required</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>defaultOpen</td>
                        <td>Set default open</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>colors</td>
                        <td>List of predefined colors</td>
                        <td>string[]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>placeholder</td>
                        <td>Set placeholder</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>hideColorInput</td>
                        <td>Hide input box from component</td>
                        <td>boolean</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>styleClass</td>
                        <td>Set extra class on component</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>inputId</td>
                        <td>Set id attribute</td>
                        <td>string</td>
                        <td></td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>

        <np-card>
            <np-card-body>
                <table class="np-table">
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                        <th>Parameters</th>
                    </tr>
                    <tr>
                        <td>
                            onChange(v: any)
                        </td>
                        <td>
                            Callback event on value change.
                        </td>
                        <td>value</td>
                    </tr>
                </table>
            </np-card-body>
        </np-card>
    </np-tab>

    <np-tab title="Example" id="tabExample">

        <div>
            <fieldset>
                <legend>1. basic colorpicker</legend>
                <np-color-picker [(ngModel)]="color1" [inputId]="'txtColor'"></np-color-picker>
                <div>Selected value is: {{color1}}</div>
                <button type="button" class="np-btn" (click)="color1 = '#ed5a0f'">Set color #ed5a0f</button>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>2. disabled and readonly</legend>
                <np-color-picker [(ngModel)]="color2" disabled></np-color-picker>
                <br>
                <np-color-picker [(ngModel)]="color2" [readonly]="true"></np-color-picker>
            </fieldset>
        </div>

        <div>
            <form #form="ngForm">
                <fieldset>
                    <legend>3. required</legend>
                    <np-color-picker [(ngModel)]="color3" required #validations="ngModel" name="colorPicker3">
                    </np-color-picker>
                    <div *ngIf="validations.control.touched && validations.control.errors?.required"
                        class="np-text-danger">
                        Color is required.
                    </div>
                    <div>Form valid: {{ form.valid }}</div>
                    <div>Selected color code: {{ color3 }}</div>
                </fieldset>
            </form>
        </div>

        <div>
            <fieldset>
                <legend>4. defaultOpen</legend>
                <np-color-picker [(ngModel)]="color4" [defaultOpen]="true" #validations4="ngModel"
                    [disabled]="color4Disabled" [required]="color4Required">
                </np-color-picker>
                <div *ngIf="validations4.control.touched && validations4.control.errors?.required"
                    class="np-text-danger">
                    Color is required.
                </div>
                <div class="np-btn-group">
                    <button type="button" class="np-btn" (click)="color4Disabled = !color4Disabled">Toggle
                        Disable</button>
                    <button type="button" class="np-btn" (click)="color4Required = !color4Required">Toggle
                        required</button>
                </div>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>5. Pre-defined colors in picker</legend>
                <np-color-picker [(ngModel)]="color5" [colors]="existingColors5">
                </np-color-picker>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>6. placeholder</legend>
                <np-color-picker [(ngModel)]="color6" [placeholder]="'Select font color'">
                </np-color-picker>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>7. hideColorInput</legend>
                <np-color-picker [(ngModel)]="color7" [hideColorInput]="true">
                </np-color-picker>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>9. styleClass</legend>
                <np-color-picker [(ngModel)]="color8" [styleClass]="'myClass'">
                </np-color-picker>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>9. No pre-defined colors</legend>
                <np-color-picker [(ngModel)]="color9" [colors]="[]">
                </np-color-picker>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>10. onChange</legend>
                <np-color-picker [(ngModel)]="color10" (onChange)="onChangeColor($event)">
                </np-color-picker>
            </fieldset>
        </div>
    </np-tab>
</np-tabs>