<h2>
    <a class="github-link" title="Go to github repository" target="_blank"
        href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-ui-data-grid-demo/sorting-grid">
        Sorting Example.
    </a>
</h2>
<p>To add sorting in data grid set <b>sortEnable</b> to "true" in column definations.</p>
<p>To set multicolumn sorting, set <b>multiColumnSortEnable</b> to "true" in grid defination.</p>
<span>
    Multi column sort enable:<np-ui-switch [(ngModel)]="multiColumnSortEnable"></np-ui-switch>
</span>

<p>Default value for <b>multiColumnSortEnable</b> is "false".</p>

<h2>Client side sorting:</h2>
<p>
    In Client side data grid all sorting oprations will be done on client side.
</p>
<np-ui-data-grid [columns]="gridColumns" [dataSource]="gridDataSource" [multiColumnSortEnable]="multiColumnSortEnable">
</np-ui-data-grid>


<h2>Server side sorting:</h2>
<p> In Server side data grid <b>sortColumns</b> will be passed to <b>onLoadData(options:LoadOptions)</b>.
    Which will contains array of all sorting columns as <q>{{ '{' }} column : string, sortDirection:
        string {{'}'}}</q>
</p>
<p>Possible values for <b>sortDirection</b> are asc, desc.</p>
<p>options:<code>{{currentLoadOptions | json}}</code></p>
<np-ui-data-grid [columns]="gridColumns" [dataSource]="serverGridDataSource" [isServerOperations]="true"
    (onLoadData)="onLoadDataServerGrid($event)" [multiColumnSortEnable]="multiColumnSortEnable">
</np-ui-data-grid>