<div class="sub-header">
    Virtual Scroll
</div>

<np-tabs>
    <np-tab title="Documentation">
        <np-card>
            <b>Module to import</b>
            <div>
                <pre><code [innerText]="importText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <b>HTML</b>
            <div>
                <pre><code [innerText]="htmlText"></code></pre>
            </div>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
                <tr>
                    <td>data</td>
                    <td>Array of items</td>
                    <td>any[]</td>
                    <td></td>
                </tr>
                <tr>
                    <td>pageSize</td>
                    <td>Size of page</td>
                    <td>number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>itemHeight</td>
                    <td>Height of single element in px</td>
                    <td>number</td>
                    <td></td>
                </tr>
                <tr>
                    <td>template</td>
                    <td>Item template to display for single item</td>
                    <td>TemplateRef&lt;any&gt;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>styleClass</td>
                    <td>Set extra class on component</td>
                    <td>string</td>
                    <td></td>
                </tr>
                <tr>
                    <td>inputId</td>
                    <td>Set id attribute</td>
                    <td>string</td>
                    <td></td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <table class="np-table">
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
                <tr>
                    <td>
                        loadData(&#123;first: number, rows: pageSize&#125;)
                    </td>
                    <td>
                        Callback to load data event, fetch data in this method
                        <br>first is the index of first record in page, and rows is number of page size
                    </td>
                    <td>&#123;first: number, rows: pageSize&#125;</td>
                </tr>
            </table>
        </np-card>
        <np-card>
            <b>How to use loadData method?</b>
            <pre><code>{{loadDataText}}</code></pre>
        </np-card>
    </np-tab>
    <np-tab title="Examples">
        <fieldset>
            <legend>Basic</legend>
            <np-virtual-scroll [data]="data" [pageSize]="pageSize" [itemHeight]="50" [template]="itemTemplate"
                (loadData)="loadData($event)">
            </np-virtual-scroll>

            <ng-template #itemTemplate let-item="item">
                {{item}}
            </ng-template>
        </fieldset>
    </np-tab>
</np-tabs>