@import "./../dist/np-ui-lib/style.css";
body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

.header h1 {
    margin: 5px 5px 0px 5px;
    padding: 10px 5px;
    background-color: #f1f1f1;
    text-align: center;
}

.nav {
    margin: 5px;
}

.main-container {
    display: flex;
}

.content {
    height: 100%;
    width: 100%;
    margin: 5px 5px 5px 0px;
}

.sub-header h2 {
    margin: 0px 0px 5px 0px;
    padding: 5px;
    background-color: #f1f1f1;
}

.myClass {
    border: 1px solid blue !important;
}

.demo-icon {
    height: 16px;
    width: 16px;
    fill: currentColor;
    vertical-align: middle;
}

.overview-1 {
    background-color: #F39611 !important;
}

.overview-2 {
    background-color: #326DDF !important;
}

.overview-3 {
    background-color: #E02364 !important;
}

.overview-4 {
    background-color: #7DC931 !important;
}

.active-menu {
    background-color: #4CAF50;
    color: #ffffff;
}