@import "./../dist/np-ui-lib/style.css";
@import "./../node_modules/font-awesome/css/font-awesome.css";
body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

.nav {
    margin-right: 5px;
}

.main-container {
    display: flex;
    margin: 5px;
}

.content {
    height: 100%;
    width: 100%;
}

.sub-header h2 {
    margin: 0px 0px 5px 0px;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
}

.myClass {
    border: 1px solid blue !important;
}

.myBackDrop {
    background-color: blue;
    opacity: 0.3!important;
}

.overview-1 {
    background-color: #F39611 !important;
}

.overview-2 {
    background-color: #326DDF !important;
}

.overview-3 {
    background-color: #E02364 !important;
}

.overview-4 {
    background-color: #7DC931 !important;
}

.logo {
    height: 50px;
    width: 170px;
}

.header {
    display: flex;
    align-items: center;
    margin: 5px 5px 0px 5px;
    background-color: #f1f1f1;
    border: 1px solid #c8c8c8;
}

.header h1 {
    width: 100%;
    text-align: center;
    margin: 0px;
}

.fa {
    font-size: 20px;
}

.my-nav {
    width: 220px !important;
}

.menu-btn {
    min-height: 50px;
    min-width: 50px;
    display: flex;
    cursor: pointer;
    background-color: #555;
    color: #ffffff;
}

.menu-btn i {
    margin: auto;
}