@import "~@angular/cdk/overlay-prebuilt.css";

html {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.blue-theme {
  @import "dist/np-ui-lib/styles/theme.scss";
  @import "styles.scss";
  $primary-color: #0b7ad1;
  $background-color: #f5f5f5;
  $selected-color: #eeeeee;
  $border-color: #9e9e9e;
  $border-radius: 2px;
  $outline-color: #a6d5fa;
  @include theme;
  @include app-style;
}

.green-theme {
  @import "dist/np-ui-lib/styles/theme.scss";
  @import "styles.scss";
  $primary-color: #4caf50;
  $background-color: #f5f5f5;
  $selected-color: #eeeeee;
  $border-color: #9e9e9e;
  $border-radius: 2px;
  $outline-color: #b7e0b8;
  @include theme;
  @include app-style;
}

.orange-theme {
  @import "dist/np-ui-lib/styles/theme.scss";
  @import "styles.scss";
  $primary-color: #ffa500;
  $background-color: #f5f5f5;
  $selected-color: #eeeeee;
  $border-color: #9e9e9e;
  $border-radius: 0px;
  $outline-color: #ffe69c;
  @include theme;
  @include app-style;
}

.purple-theme {
  @import "dist/np-ui-lib/styles/theme.scss";
  @import "styles.scss";
  $primary-color: #9c27b0;
  $background-color: #f5f5f5;
  $selected-color: #eeeeee;
  $border-color: #9e9e9e;
  $border-radius: 0px;
  $outline-color: #df9eea;
  @include theme;
  @include app-style;
}
