<div class="sub-header">
    <h2>
        <a class="github-link" target="_blank" href="https://github.com/NilavPatel/np-ui-package/wiki/Sidepanel">
            np-sidepanel
        </a> &nbsp;|&nbsp;
        <a class="github-link" title="Go to github repository" target="_blank" href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app/np-sidepanel-demo">
            Demo
        </a>
    </h2>
</div>

<div class="np-btn-group">
    <button type="button" class="np-btn" (click)="openLeft()">Open left</button>
    <button type="button" class="np-btn" (click)="closeLeft()">Close left</button>
</div>
<div class="np-btn-group">
    <button type="button" class="np-btn" (click)="openRight()">Open right</button>
    <button type="button" class="np-btn" (click)="closeRight()">Close right</button>
</div>
<div class="np-btn-group">
    <button type="button" class="np-btn" (click)="openTop()">Open top</button>
    <button type="button" class="np-btn" (click)="closeTop()">Close top</button>
</div>
<div class="np-btn-group">
    <button type="button" class="np-btn" (click)="openBottom()">Open bottom</button>
    <button type="button" class="np-btn" (click)="closeBottom()">Close bottom</button>
</div>

<np-sidepanel #sidePanelLeft [height]="'100%'" [closeOnClickOutside]="false">
    <h1>Left sidepanel example</h1>
    <form [formGroup]="myForm">
        <div class="np-container">
            <div class="np-row">
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">First name:</div>
                        <input type="text" class="np-form-control" formControlName="firstName" required name="txtFirstName">
                    </div>
                </div>
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">Last name:</div>
                        <input type="text" class="np-form-control" formControlName="lastName" required name="txtLastName">
                    </div>
                </div>
            </div>
            <div class="np-row">
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">Birth date:</div>
                        <np-date-picker formControlName="birthDate" name="txtBirthDate" required>
                        </np-date-picker>
                    </div>
                </div>
                <div class="np-col-6">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">Birth time:</div>
                        <np-time-picker formControlName="birthTime" name="txtBirthTime" [required]="true">
                        </np-time-picker>
                    </div>
                </div>
            </div>
            <div class="np-row">
                <div class="np-col-12">
                    <div class="np-form-group">
                        <div class="np-form-label np-required">Is Active:</div>
                        <np-switch formControlName="isActive" name="swIsActive" [required]="true"></np-switch>
                    </div>
                </div>
            </div>
            <div class="np-row">
                <div class="np-col-12">
                    <div class="np-form-group">
                        <div class="np-form-label">Description:</div>
                        <textarea class="np-form-control" rows="3" formControlName="description" name="txtDescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="np-row">
                <div class="np-col-12">
                    <div class="np-btn-group">
                        <button type="submit" class="np-btn np-btn-primary" (click)="onSubmit()">Save</button>
                        <button type="button" class="np-btn" (click)="closeLeft()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</np-sidepanel>

<np-sidepanel #sidePanelRight [right]="'0'" [height]="'100%'" [width]="'200px'" [styleClass]="'myClass'" [closeOnClickOutside]="false">
    <h1>Right sidepanel example</h1>
</np-sidepanel>

<np-sidepanel #sidePanelTop [top]="'0'" [width]="'100%'" [height]="'200px'" [showCloseIcon]="false">
    <h1>Top sidepanel example</h1>
</np-sidepanel>

<np-sidepanel #sidePanelBottom [bottom]="'0'" [width]="'100%'" [height]="'200px'" [showCloseIcon]="false">
    <h1>Bottom sidepanel example</h1>
</np-sidepanel>