<h2 class="page-header">Directives</h2>

<np-card>
    <np-card-body>
        <fieldset>
            <legend>How to add autofocus to input control?</legend>
            <p><b>npAutofocus</b> directive is available in NpUtilityModule.</p>
            <pre><code>{{autofocusTextCode}}</code></pre>
        </fieldset>
    </np-card-body>
</np-card>

<np-card>
    <np-card-body>
        <fieldset>
            <legend>How to highlight Text?</legend>
            <p><b>npHighlight</b> directive is available in NpUtilityModule.</p>
            <pre><code>{{highlightTextCode}}</code></pre>
            <p [innerHTML]="text | npHighlight: 'paragraph'"></p>
        </fieldset>
    </np-card-body>
</np-card>