<div style="width: 100%; text-align: center;">
    <img src="https://raw.githubusercontent.com/NilavPatel/np-ui-package/master/src/assets/images/logo.jpg" alt="logo" height="200px" width="200px">
</div>

<div style="width: 100%; text-align: center;">
    <img src="https://raw.githubusercontent.com/NilavPatel/np-ui-package/master/src/assets/images/typescript.svg" alt="typescript">&nbsp;
    <img src="https://raw.githubusercontent.com/NilavPatel/np-ui-package/master/src/assets/images/build.svg" alt="build">&nbsp;
    <img src="https://raw.githubusercontent.com/NilavPatel/np-ui-package/master/src/assets/images/license.svg" alt="license">&nbsp;
    <img src="https://raw.githubusercontent.com/NilavPatel/np-ui-package/master/src/assets/images/contributions.svg" alt="contributions">
</div>

<div class="np-jumbotron">
    <h2>
        <a href="http://npmjs.com/np-ui-lib" target="_blank">How to add np-ui-lib package to your application?</a>
    </h2>
    <h4>
        Step 1: Install node package using below command.
        <pre><code>$ npm install np-ui-lib</code></pre>
    </h4>
    <h4>
        Step 2: Add CSS file to your application's style.css.
        <pre><code>@import "np-ui-lib/style.css";</code></pre>
    </h4>
</div>

<h2>License</h2>
<p>This project is licensed under the MIT License.</p>


<h2>Contributors</h2>
<img height="50px" width="200px" src="https://raw.githubusercontent.com/NilavPatel/nilavpatel.github.io/master/images/logo-large.png">