<p style="text-align: center; margin: 0px; padding: 10px; font-size: 40px;" class="np-alert np-alert-info">Welcome to
    <b>np-ui-lib</b> angular components</p>

<p class="np-alert np-alert-danger">
    This package supports Angular version 9+.
</p>

<h2>How to add <a href="http://npmjs.com/np-ui-lib" target="_blank">np-ui-lib</a> package to your application?</h2>

<p>Step 1: Add node package using below command.</p>
<div class="np-jumbotron">
    $ npm install np-ui-lib
</div>

<p>Step 2: Add CSS file to your application's style.css.</p>
<div class="np-jumbotron">
    @import "np-ui-lib/style.css";
</div>

<p>Step 3: Import component module from np-ui-lib to application module.</p>

<p>Step 4: Enjoy and save time with adding components easily.</p>

<p>Step 5: For more documentation and properties of component check <a href="https://github.com/NilavPatel/np-ui-package/tree/master/projects/np-ui-lib/src/lib" target="_blank">here</a>.</p>

<div class="np-alert np-alert-success">
    <div> For all examples github respository click <a href="https://github.com/NilavPatel/np-ui-package/tree/master/src/app" target="_blank">here</a>.
    </div>
    <div>
        For Stackblitz click <a href="https://stackblitz.com/edit/np-ui-lib" target="_blank">here</a>.
    </div>
</div>

<h1>License</h1>
<p>This project is licensed under the MIT License.</p>


<h1>Contributors</h1>
<img height="50px" width="200px" src="https://raw.githubusercontent.com/NilavPatel/nilavpatel.github.io/master/images/logo-large.png">
<div>NTech Software Solutions - Made with <span class="color-red">❤</span>.</div>