<div class="np-container">
  <div class="np-row" style="padding: 20px">
    <div class="np-col np-col-12">
      <div style="width: 100%; text-align: center; padding: 20px 0px;">
        <svg width="250" height="250" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="logo-background" opacity="0.85"
            d="M125 0L0 41.5L19.0655 195.375L125 250L230.934 195.375L250 41.5L125 0Z" />
          <path class="logo-background" d="M125 0V27.75V27.625V154.25V250L230.934 195.375L250 41.5L125 0Z" />
          <path class="logo-text"
            d="M118.812 175H105.242L53.7031 96.1094V175H40.1328V72.625H53.7031L105.383 151.867V72.625H118.812V175ZM156.289 134.922V175H142.789V72.625H180.547C191.75 72.625 200.516 75.4844 206.844 81.2031C213.219 86.9219 216.406 94.4922 216.406 103.914C216.406 113.852 213.289 121.516 207.055 126.906C200.867 132.25 191.984 134.922 180.406 134.922H156.289ZM156.289 123.883H180.547C187.766 123.883 193.297 122.195 197.141 118.82C200.984 115.398 202.906 110.477 202.906 104.055C202.906 97.9609 200.984 93.0859 197.141 89.4297C193.297 85.7734 188.023 83.875 181.32 83.7344H156.289V123.883Z"
            fill="white" />
        </svg>
      </div>
    </div>
    <div class="np-col np-col-12">
      <div style="width: 100%; text-align: center">
        <h1>NP-UI-LIB</h1>
        <h2>Native Angular UI Components and Design Framework</h2>
        <p>Current Version: 12.1.0, Angular Version: 12.0.0+</p>
      </div>
    </div>
    <div class="np-col np-col-12">
      <div class="np-btn-group justify-content-center">
        <a class="np-btn np-btn-danger" href="http://npmjs.com/np-ui-lib" style="width: 150px; font-size: large"
          target="_blank">NPM</a>
        <a class="np-btn" href="https://github.com/np-ui-lib/np-ui-lib" style="width: 150px; font-size: large"
          target="_blank">Github</a>
        <a class="np-btn np-btn-primary" style="width: 150px; font-size: large"
          [routerLink]="['/np-input-text-demo']">Documentation</a>
      </div>
    </div>
  </div>
  <div class="np-row">
    <div class="np-col np-col-sm-12 np-col-md-12 np-col-lg-6">
      <np-card>
        <np-card-header>
          <h4 class="no-margin">Why np-ui-lib?</h4>
        </np-card-header>
        <np-card-body>
          <ul class="list">
            <li>An enterprise level UI design</li>
            <li>50+ components</li>
            <li>Free and open source</li>
            <li>Fast and easy to integrate</li>
            <li>Theming and i18N support</li>
            <li>No 3rd party dependencies</li>
          </ul>
        </np-card-body>
      </np-card>
    </div>
    <div class="np-col np-col-sm-12 np-col-md-12 np-col-lg-6">
      <np-card>
        <np-card-header>
          <h4 class="no-margin">Best Practices</h4>
        </np-card-header>
        <np-card-body>
          <ul class="list">
            <li>Followed best coding practices</li>
            <li>Responsive UI design</li>
            <li>Good documentation</li>
            <li>Flexible to customization</li>
            <li>WAI-ARIA included</li>
            <li>Support modern browsers</li>
          </ul>
        </np-card-body>
      </np-card>
    </div>
    <div class="np-col np-col-12">
      <np-card>
        <np-card-header>
          <h4 class="no-margin">
            How to add np-ui-lib package to angular application?
          </h4>
        </np-card-header>
        <np-card-body>
          <div>
            <h6>Step 1: Install node package using below command</h6>
            <pre><code>$ npm install np-ui-lib</code></pre>
          </div>
          <div>
            <h6>
              Step 2: Import below style sheets to application's styles.scss
              file
            </h6>
            <pre><code>@import "~@angular/cdk/overlay-prebuilt.css";<br>@import "np-ui-lib/styles/default-theme.scss";</code></pre>
          </div>
        </np-card-body>
      </np-card>
    </div>
    <div class="np-col np-col-12">
      <np-card>
        <np-card-header>
          <h4 class="no-margin">
            Below packages already needs to be pre-installed
          </h4>
        </np-card-header>
        <np-card-body>
          <div>np-ui-lib has dependency on below packages.</div>
          <pre><code>"@angular/common": "^12.0.0",<br>"@angular/core": "^12.0.0",<br>"@angular/cdk": "^12.0.0",<br>"@angular/forms": "^12.0.0",<br>"@angular/router": "^12.0.0",<br>"rxjs": "^6.6.0"<br></code></pre>
        </np-card-body>
      </np-card>
    </div>
    <div class="np-col np-col-12">
      <np-card>
        <np-card-header>
          <h4 class="no-margin">Browser Support</h4>
        </np-card-header>
        <np-card-body>
          <table class="np-table">
            <tr>
              <th>Chrome</th>
              <th>Firefox</th>
              <th>Safari</th>
              <th>Edge</th>
              <th>Mobile Chrome</th>
              <th>Mobile Safari</th>
              <th>IE11</th>
            </tr>
            <tr>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Yes</td>
              <td>Partial</td>
            </tr>
          </table>
        </np-card-body>
      </np-card>
    </div>
    <div class="np-col np-col-12">
      <h3>Links</h3>
      <p>
        <a href="https://github.com/np-ui-lib/np-ui-lib/tree/master/projects/np-ui-lib/CHANGELOG.md"
          target="_blank">Release Notes</a>
      </p>
    </div>
    <div class="np-col np-col-12">
      <h3>License</h3>
      <p>
        This project is licensed under the
        <a href="https://github.com/np-ui-lib/np-ui-lib/blob/master/LICENSE" target="_blank">MIT License</a>.
      </p>
    </div>
  </div>
</div>